[2014-05-12 11:52] warpech opened #1 "Enhance background color picker"
Currently the background color picker is just a few ugly buttons

We could replace it with a dropdown that has:
- a pallete of few nice colors
- a text input for manual entrance of a color in `#ffffff` format
- a `<input type="color">` that opens the system color picker (demo http://jsfiddle.net/warpech/xuhZv/27/)

[2014-05-12 11:54] warpech opened #2 "Add border style picker"
For the element containers, we should add a border style picker. It should be similar to the background color picker, allowing to choose one of a few predefined border styles (or no border at all - which is default)

[2014-05-12 16:08] warpech opened #3 "Can't set the background color of the root container"

[2014-05-12 16:10] warpech opened #4 "CTRL+N, CTRL+G shortcuts don't work on Windows"
Anders and Tomek reported that CTRL+N, CTRL+G shortcuts don't work on Windows

[2014-05-12 16:10] warpech opened #5 "CTRL+N, CTRL+G shortcut actions should be also available as buttons"

[2014-05-13 07:34] warpech commented on #1
Did you push the changes? I can't find it

[2014-05-13 07:36] warpech opened #6 ""Stack" button"
In the container attribute editor (the one visible when selecting a parent element) we need a button to stack all child elements (make all elements in a container width: 100%)

![screenshot of safari 07-05-14 15 44 52](https://cloud.githubusercontent.com/assets/1219049/2903126/d2135bac-d5ed-11e3-9cfa-8d2d8c32339b.png)

[2014-05-13 10:04] warpech opened #7 "Overlay does not show in Canary"
`element-selector`'s overlay does not show in Canary upon first use

[2014-05-13 15:06] ghost commented on #1
@warpech I did not push anychanges... i may accidently closed this issue by misstake, not really sure how that happend.

[2014-05-14 00:35] warpech opened #8 "Add a sidebar to choose groups and elements"

[2014-05-14 00:50] warpech opened #9 "Move element-selector to juicy-highlight"

[2014-05-14 00:51] warpech opened #10 "Move juicy-tree.html to a separate repo"

[2014-05-14 01:16] warpech commented on #8
Initial revision commited. Yet to be done to finish task:
- [ ] Creating groups with keyboard shortcuts does not refresh the sidebar

[2014-05-14 06:45] #5 closed, assigned to nobody

[2014-05-14 12:17] warpech commented on #9
Done: https://github.com/Juicy/juicy-highlight

[2014-05-14 12:17] #9 closed, assigned to nobody

[2014-05-14 12:17] warpech commented on #7
Fixed in https://github.com/Juicy/juicy-highlight

[2014-05-14 12:17] #7 closed, assigned to nobody

[2014-05-14 12:32] warpech commented on #8
Sidebar added

[2014-05-14 12:32] #8 closed, assigned to nobody

[2014-05-14 12:33] warpech opened #11 "Sidebar should allow multiple selection"
Currently, multiple selection is only possible with clicking on the elements. Sidebar should also allow that (with CTRL button or Shift)

[2014-05-14 12:52] #4 closed, assigned to nobody

[2014-05-14 12:53] warpech commented on #4
This was caused by the fact that CTRL+N cannot be captured in Chrome (see https://code.google.com/p/chromium/issues/detail?id=33056)

[2014-05-15 14:14] warpech opened #12 "Sidebar should display nested juicy-tiles"

[2014-05-15 14:16] warpech commented on #3
This is dependent on https://github.com/Juicy/juicy-tiles/issues/5

[2014-05-15 14:18] warpech opened #13 "Sidebar should be draggable"

[2014-05-15 14:22] warpech opened #14 "Add "Save", "Cancel", "Reset" buttons"
There should be a "Save" button added to the editor that allows saves the layout changes.

In addition, there should be a "Cancel" button that reverts changes.

And maybe "Reset" button that removes the custom layout and reverts the default positions.

[2014-05-15 14:25] warpech opened #15 "Drag'n'drop of elements inside the sidebar"
Elements and containers inside the sidebar should be draggable into containers (to move element to another container)

[2014-05-15 14:26] warpech opened #16 "Clicking on container name in sidebar should collapse/expand it"
Clicking on container name in sidebar should collapse/expand it.

[2014-05-18 17:13] #1 closed, assigned to nobody

[2014-05-18 17:14] warpech opened #17 "Move juicy-color-picker.html to a separate repo"

[2014-05-19 07:07] warpech commented on #11
Sidebar now allows multiple selection

[2014-05-19 07:07] #11 closed, assigned to nobody

[2014-05-21 23:01] tomalec opened #18 "Tree view does not support many <juicy-tiles> elements nested in one <juicy-tiles>"
While building the tree https://github.com/Juicy/juicy-tiles-editor/blob/gh-pages/src/juicy-tiles-editor.html#L478
`querySelector` is called which returns only first one. second one is disregarded, and its content may corrupt further flow.

[2014-05-21 23:55] tomalec opened #19 "Tree view does not support many <juicy-tiles> as direct child of another <juicy-tiles>"

[2014-05-22 00:19] tomalec opened #20 "Separate concepts of nested <juicy-tiles> elements from nested virtual groups"
Currently nested `<juicy-tiles>` are presented (in UI, JSON and code) in same manner as elements in virtual groups. Which leads to confusion as well from developers and UX point of view.
Moreover, the way we make real DOM nesting mimic virtual groups in JSON structure could be a reason of some bugs (#19, #18)

I suggest changing property names (`.items`, `.container`) to something different for ne

[2014-05-22 12:40] tomalec opened #21 "Rewrite component to use `Object.observe` instead of changing the JSON configuration structure, and hacking juicy-tiles"
This should help with #18 & #19, make code way much cleaner, less hacky, and should give support to use same configuration for many `<juicy-tiles>` and `<juicy-tiles-editor>`.

(Requires Juicy/juicy-tiles#7)

[2014-05-22 18:43] warpech commented on #19
I made a function that finds first level DOM children correctly: http://jsfiddle.net/warpech/3L74K/

[2014-05-22 19:36] tomalec commented on #3
Do we relay want to change background of `<juicy-tiles>` from inside? Shouldn't it be up to owner /host of `<juicy-tiles>` to apply CSS rules to this tag?, and sat it's background color and image?

[2014-05-22 23:02] #18 closed, assigned to nobody

[2014-05-22 23:05] warpech opened #22 "juicy-highlight does not work well with scrolled tiles"
In `index.html`, `<juicy-highlight>` does not highlight correctly elements of "Nested tiles 2", which is contained in a not visible part of a scrollable div.

It seems that `<juicy-highlight>` puts the border in place that is relative to the container top, left coordinates -  without taking the scrollTop, scrollLeft into account.

[2014-05-22 23:36] warpech opened #23 "Multi selection by clicking on elements is not shown in tree"
Multi selection by clicking on elements (with CTRL) is not shown in `<juicy-tiles-tree>`.

This is most likely because recreation of `.tree[]` array rerenders the templates. In that case the previously set `<span>` class names are lost.

[2014-05-22 23:36] #19 closed, assigned to nobody

[2014-05-22 23:37] #12 closed, assigned to nobody

[2014-05-22 23:37] warpech commented on #12
Done

[2014-05-22 23:39] warpech commented on #10
Decided with @tomalec to abandon this task. We don't see a way to effectively separate a generic version of `juicy-tree` that would let us configure specific templates for various levels of nested tiles.

[2014-05-22 23:39] #10 closed, assigned to nobody

[2014-05-22 23:39] warpech commented on #3
I agree. Closing.

[2014-05-22 23:39] #3 closed, assigned to nobody

[2014-05-23 08:15] warpech opened #24 "Multiselection goes wrong"
I don't yet have steps to reproduce, but I has this weird effect when clicking on one item in the `juicy-tiles` selected many items in different branches in the `juicy-tiles-tree`.

![multiselection](https://cloud.githubusercontent.com/assets/566463/3064405/62099440-e252-11e3-8a23-073be54293ad.gif)

GIF recorded with [LiceCap](http://www.cockos.com/licecap/)

[2014-05-23 08:36] tomalec commented on #24
It is because those tiles shares same setup object.

[2014-05-23 08:38] warpech commented on #24
So it is "not a bug"? But bug is that change of width of one element is not reflected in all of its clones

[2014-05-23 08:39] tomalec commented on #24
I believe it should be a feature to be able for example to stamp two different `<juicy-tiles>` instances ( from `<template>`) that shares the same setup.

[2014-05-23 08:48] warpech commented on #24
Do you think it is possible for two `juicy-tiles` instances in the Launcher to actually come into sharing the same setup object? I can see this useful if use the same template, but we would need to make some magic on setup loading.

[2014-05-23 08:53] tomalec commented on #24
I think so, currently we just use exactly same object, so I hope there should be no magic required beside native JS one ;)

[2014-05-23 08:54] warpech commented on #24
If we serialize to it JSON and then deserialize, it would not be the same object by default (unless it is stored by the same key)

[2014-05-23 08:56] tomalec commented on #24
It will be stored by the same key, as it will be same template URL.
And we plan to fetch it from the server side on per template, so one for every template instances.

[2014-05-23 13:09] warpech opened #25 "Changing value of all selected items"
When I select more than one item, I would like the width, height, priority (?) fields to actually update the value on all the selected items.

If the a value (e.g. height) is the same for all selected items, it should be presented in the input.

If the value is not the same for all selected items, the text input should have a placeholder saying "multiple".

This should faciliate the same code as h

[2014-05-23 13:11] warpech opened #26 "In the Launcher, the selection of items on screen is not does not select them in the tree"

[2014-05-23 13:17] warpech opened #27 "Gestaltung - background oversize and offset"
The background color of a container should be offset by a negative margin that is_half the gap_ between the contained elements. You should be able to change this default value to be something else than half the gap.

![screenshot 2014-05-23 15 15 55](https://cloud.githubusercontent.com/assets/566463/3066944/d8a1650e-e27c-11e3-9fc1-4ba22fb52a3d.png)

[2014-05-23 14:08] warpech commented on #14
After discussion we decided to have "Save" and "Save all" button.

"Save all" button is present in the toolbar. It saves changes to all juicy-tiles.

"Save" button is present in the tree and the toolbar. It saves only changes to the currently edited juicy-tiles.

[2014-05-23 14:14] warpech opened #28 "Ability to set inline style for containers"
Jocke wants to have a textarea where he can input his arbitrary inline style for a specific container.

[2014-05-26 12:53] warpech opened #29 "Tree elements should collapse/expand interactively"

[2014-05-27 10:09] warpech commented on #26
Fixed in https://github.com/Juicy/juicy-tiles-editor/commit/2553407c4ae3da6600f9b20dbb7ef3caba0188e6

[2014-05-27 10:09] #26 closed, assigned to warpech

[2014-05-27 11:19] #23 closed, assigned to warpech

[2014-05-27 17:41] tomalec commented on #28
You are now able to change `.innerHTML` of every container, so you can put inline styles there.

[2014-05-27 17:41] #28 closed, assigned to tomalec

[2014-05-28 08:50] tomalec opened #30 "Clicking on virtual container should select it."

[2014-05-28 11:03] #25 closed, assigned to warpech

[2014-05-28 11:04] #6 closed, assigned to warpech

[2014-05-28 12:37] warpech opened #31 "Tree does not distinguish between root of nested tiles and it's container"
Tree does not distinguish between root of nested tiles and it's container:

![screenshot 2014-05-28 14 36 38](https://cloud.githubusercontent.com/assets/566463/3104252/c734eb10-e664-11e3-9e03-a01400d064f3.png)

[2014-05-28 14:37] #31 closed, assigned to nobody

[2014-05-28 15:50] tomalec opened #32 "juicy-tiles`.packItems` is called way too many times"
It is being called multiple time even when selecting element (so when nothing should be repacked yet).

So it makes performance hit, visual glitches and make debugging harder.

[2014-06-04 12:49] tomalec opened #33 "Double click on input field in toolbar does not select entire value."

[2014-06-04 13:56] warpech opened #34 "Expanding "Background" dropdown causes Save/Revert button to highlight"
Expanding "Background" dropdown causes Save/Revert button to highlight, even if you don't choose any background color.

This is likely because the current stringified `setup` object does not match the original JSON string (some properties are added to it on the fly on init).

[2014-06-04 13:58] warpech commented on #32
I think this is already fixed since I added `<div class="editablesContainer" on-click="{{applyChange}}" on-keyup="{{applyChange}}">` in `juicy-tile-editor-form.js`. Do you agree?

[2014-06-04 15:45] tomalec commented on #32
But now `.packItems` being called on every click at input field, even if nothing have changed.

[2014-06-06 07:55] warpech commented on #34
Fixed

[2014-06-06 07:55] #34 closed, assigned to nobody

[2014-06-09 07:58] tomalec opened #35 "Support for <juicy-tile-grid>"
Currently `JUICY-TILE-LIST` is hardcoded as tagname. Idea is to make it customizable via attribute.

[2014-06-22 21:15] tomalec commented on #35
`<juicy-tile-grid>` have specific properties to set, so meybe it should be better to either
1. create `<juicy-tile-grid-editor>` which will extend `<juicy-tile-editor>`, or
2. simply hard-code support for both in `<juicy-tile-grid>`, or
3. make `<juicy-tile-grid>` support grid only, and changing the properties which are not supported by list, will simply make no effect.

[2014-06-24 07:35] tomalec opened #36 "Make tree window float, and be draggable"
Duplicate of https://github.com/Polyjuice/Launcher/issues/58

[2014-06-25 12:45] warpech commented on #35
To finish this task, `<juicy-tile-editor>` needs to hide `<juicy-tile-grid>` editor specific input fields when `<juicy-tile-list>` is in use (as discussed today on a call with Tomek)

[2014-06-25 12:49] warpech opened #37 "juicy-tile-tree not always rendered when editing juicy-tile-grid"
When editor is used with `<juicy-tile-grid>` (especially that contains other nested  `<juicy-tile-grid>`), the tree is not always rendered.

[2014-07-07 13:11] warpech commented on #13
Duplicated by #36

[2014-07-07 13:11] #13 closed, assigned to nobody

[2014-07-07 14:48] warpech commented on #14
Implemented as "Save" and "Revert". Reset button skipped for now.

[2014-07-07 14:48] #14 closed, assigned to nobody

[2014-07-07 14:49] #20 closed, assigned to nobody

[2014-07-07 14:52] tomalec commented on #20
Now each tree node looks as follows:

[code]

[2014-07-07 14:53] tomalec commented on #21
Closed as https://github.com/Juicy/juicy-tile-list/issues/7

[2014-07-07 14:53] #21 closed, assigned to nobody

[2014-07-07 14:57] warpech commented on #24
Closing as Won't fix

[2014-07-07 14:57] #24 closed, assigned to nobody

[2014-07-07 14:58] #27 closed, assigned to tomalec

[2014-07-07 14:58] warpech commented on #27
Implemented at as "oversize" feature

[2014-07-07 14:58] warpech commented on #16
Duplicated by #29

[2014-07-07 14:58] #16 closed, assigned to nobody

[2014-07-09 11:41] tomalec commented on #35
Starting from https://github.com/Juicy/juicy-tile-editor/commit/fab83fb56c4f63261f230beebe7ea227cf930ed3 juicy-tile-grid is also attached to editor. The only thing left is to hide `-grid` specific stuff for `-list`, as described above.

[2014-07-09 11:41] #30 closed, assigned to tomalec

[2014-07-09 11:43] tomalec commented on #37
[juicy-tile-editor.js#L146](https://github.com/Juicy/juicy-tile-editor/blob/gh-pages/src/juicy-tile-editor.js#L146) seems to be the reason, as `.editedTiles` is usually not the ones rendered in tree.

[2014-07-09 11:54] tomalec commented on #33
With new juicy-tile-grid, and after many changes in juicy-tile-editor it's not reproducible any longer.

[2014-07-09 11:54] #33 closed, assigned to nobody

[2014-07-10 12:53] #35 closed, assigned to warpech

[2014-07-11 10:06] tomalec commented on #37
There are two somehow separated issues:
1. Tree is empty on page load, it requires clicking on a tile.
2. After clicking on nested `<juicy-tile-list>` or `-grid` (not on a tile, but on grid background) tree will not show at all.

[2014-09-02 09:29] tomalec opened #38 "Clean up localStorage integration"
Currently load is done via composition of `juicy-tile-list` with `core-localstorage`, and save/revert by `juicy-tile-editor`. We need to unify this, and maybe improve revision/changes tracing.

[2014-09-23 01:47] tomalec commented on #38
I have created new [Juicy/juicy-tiles-setup-sync](https://github.com/Juicy/juicy-tiles-setup-sync) Custom Element, which is  responsible for staging changes, saving them to external storage, etc. (in future we could add revisions, undo, and other features there).

Right now, `<juicy-tile-editor>` is completely unaware of any storage engine being used. In demos I used Polymers `<core-localstorage>`

[2014-09-23 01:47] #38 closed, assigned to nobody

[2014-10-30 08:06] tomalec opened #39 "Tiles get highlighted even after editor is closed."

[2015-01-29 21:58] #29 closed

[2015-04-23 13:37] miyconst commented on #36
The sidebar (tree window) is now draggable and floatable.

There are eight positions: `left`, `left-top`, `top`, `right-top`, `right`, `right-bottom`, `bottom`, `left-bottom`, the sidebar sticks to a position automatically if it was dropped closer than 80px to window's edge; otherwise it stays wherever user drops it.

`juicy-draggable` wraps this script: https://github.com/gtramontina/draggable.js

[2015-04-23 13:39] miyconst opened #40 "Sidebar should remember its position"
Sidebar should remember it's position at least per page load.

Sometimes it is necessary to close editor, check result, and open editor again. Sidebar should remember it's last position and restore it on open.

This is possible after this: https://github.com/Juicy/juicy-tile-editor/issues/36

[2015-04-23 13:54] miyconst opened #41 "Automatically scroll to selected element"
It would be really nice if sidebar tree would scroll itself to selected element when an element selected.

[2015-04-23 13:56] miyconst commented on #39
I could not reproduce the bug. No matter what tiles I select, they all got deselected when I close the editor.

[2015-04-24 08:14] warpech commented on #41
:+1:

[2015-04-24 11:27] tomalec commented on #15
Added also in https://github.com/Polyjuice/Launcher/issues/59

[2015-04-26 09:55] #41 closed

[2015-04-26 10:18] miyconst commented on #40
Sidebar now remembers its float position.

[2015-04-26 10:18] #40 closed

[2015-05-04 12:02] tomalec opened #42 "Tree menu drop area"
To stick tree menu to the right edge of my browser, I need to drop it few pixels away of the window.

[2015-05-04 14:11] miyconst opened #43 "Incorrect height calculation for tiles which contain dynamic elements"
If a group has a dynamic height table inside, then its height being calculated incorrectly.

The image below demonstrates the exception:

![juicy-tile-highlight-bug](https://cloud.githubusercontent.com/assets/6435556/7454841/4a19a750-f280-11e4-8603-2c13e635c79f.png)

1. Orange - table with dynamic height.
2. Blue - group which contains the table.

[2015-05-04 14:14] miyconst commented on #42
Currently you have to move the top left corner of sidebar closer than 80px to the right edge to stick it to the right side.

You want to calculate position for the right side from the right corner instead of the left, correct?

[2015-05-04 14:19] miyconst commented on #43
This happens only if parent's (`root_5`) group's height is auto, but not dynamic.
Now I am not sure it is a bug.

[2015-05-04 14:37] miyconst commented on #42
Distance to the screen edge should be calculated from cursor position, not from the top left corner of sidebar.

[2015-05-04 14:53] #42 closed

[2015-05-05 08:51] warpech commented on #36
@miyconst can this be closed?

[2015-05-05 09:37] miyconst commented on #36
Yes.

[2015-05-05 09:37] #36 closed

[2015-05-05 19:38] miyconst commented on #15
`juicy-draggable` has been improved to support drag & drop functionality, not only drag around.

The demo is available here: http://juicy.github.io/juicy-tile-editor/examples/juicy-draggable.html

In the sidebar tree the folder icon is the drop zone. The tree items may be dragged and dropped to groups.

Also fixed _Move to group button_. Previously it moved `selectedItems[1]` to `selectedItems[0].

[2015-05-07 14:58] warpech commented on #37
1. Is still reproducible and should be easy to fix. When a element is selected, the tree displays all `juicy-tile-list` elements in the document anyway.
2. Seems to be fixed.

@tomalec can you confirm the above? @miyconst can you fix 1. after @tomalec confirms?

[2015-05-07 16:04] warpech opened #44 "Color scheme of the editor"
Following what @miyconst suggested this morning, I think the current gray color of the editor is a step in a good direction, but can get improved.

Below is comparison with 3 other "gray software": Atom, Visual Studio Code and Brackets:

![screenshot 2015-05-07 17 18 05](https://cloud.githubusercontent.com/assets/566463/7518743/0b9e7adc-f4dd-11e4-8da6-ff2cdb458e3d.png)

I must say that the ">" arr

[2015-05-07 16:16] warpech opened #45 "Move "eye" icon to the left"
Compare our tree with Sketch and UXPin:

![screenshot 2015-05-07 18 12 19](https://cloud.githubusercontent.com/assets/566463/7520116/af1b36c6-f4e4-11e4-91b7-02338e4d6335.png)

In Sketch, the eye icon is aligned to the **right** border of the panel. In UXPin - to the **left**.

In our case, it is irregular, becuse it is aligned to the label.

What I like the most about Sketch - for the default stat

[2015-05-07 18:41] miyconst commented on #2
Added new `juicy-border-picker` element, it depends on `juicy-color-picker` and looks like on the image:
![juicy-border-picker](https://cloud.githubusercontent.com/assets/6435556/7523061/ccce7cce-f501-11e4-8b10-731738a0653a.png)

[2015-05-07 19:39] miyconst commented on #44
The result looks like this:

![layout-editor-new-style-0](https://cloud.githubusercontent.com/assets/6435556/7524332/f30d95d4-f509-11e4-8c23-9b56303ac38a.PNG)

The font is ugly as for me.

[2015-05-07 19:42] miyconst commented on #44
It looks like those fonts are not supported by chrome, should I include custom fonts?

[2015-05-07 19:47] miyconst commented on #44
`Lucida Grande Regular` is available for download here http://www.911fonts.com/font-download/download_LucidaGrandeRegular_6216.htm

[2015-05-07 19:55] miyconst commented on #45
I like both of the ideas.. but I don't know how to combine them.

Lets say we move the eye icon to the left, so it will be like this:
- [ ] Item 1
- [ ] ---- Item 1.1
- [ ] ---- Item 1.2
- [ ] Item 2
- [ ] ---- Item 2.1
- [ ] ---- Item 2.2

And then hide the icon, there will be a white space gap between the left edge and content. So, the icon should be at the right side or visible all the time.

[2015-05-07 20:41] tomalec commented on #37
Confirmed, especially that we currently do not have any juicy-tile-lists hidden in ShadowDOM.

[2015-05-08 07:20] warpech commented on #44
We should not expect anyone to install a font nor use web fonts (because of privacy and offline availability).

The correct way is to provide CSS font-family fallbacks. Atom does it like this ([source](https://github.com/atom/one-dark-ui/blob/85319143ac6f6f371eba9a05bcc12c14ef44dd97/styles/ui-variables.less#L122)):

[code]

The reasoning is that these are the default system UI fonts: Lucida Grande

[2015-05-08 07:22] warpech commented on #45
I also think that the left looks better for icons that are always displayed.
The right looks better for icons that are conditionally displayed.

Could you try the right (Sketch) approach first?

[2015-05-08 07:29] warpech commented on #37
Then green light for fixing 1., and then https://github.com/Polyjuice/Launcher/issues/123

[2015-05-08 07:37] warpech opened #46 "Demo does not render everything correctly"
The purpose of the demo available locally after cloning this repo, as well as online at:

- http://juicy.github.io/juicy-tile-editor/
- http://juicy.github.io/juicy-tile-editor/examples/juicy-tiles-grid-editor.html

was to make it easier to develop changes to the editor.

But now it seems to have some issues:

1. it assumes availability of some external resources (like ">" icon in the sidebar)
2.

[2015-05-08 07:48] warpech commented on #2
Serious business, impressive! But the borders render wrong on Chrome/Mac:

![screenshot 2015-05-08 09 47 42](https://cloud.githubusercontent.com/assets/566463/7532453/4f79323a-f567-11e4-9b83-913901f5e516.png)

[2015-05-08 07:54] miyconst commented on #44
Probably I just missed something yesterday, `Segoe UI` works fine, `Lucida Grande` does not.

Pushed the changes, the sidebar still looks too small for me.

[2015-05-08 07:55] miyconst commented on #45
Sure.

[2015-05-08 09:15] miyconst commented on #45
Okay, a raw version is pushed.

There are a few problems:
1. How to deal with very long names? Should the icon just stick to the right edge and don't scroll? Should it appear at the end of the long name and user have to scroll the sidebar to access the icon?
2. The toggle icon, visible icon, name element, children element are all on the same level and I have to apply `li:hover > .visibility` to sh

[2015-05-08 11:06] miyconst commented on #2
Could you please check it again? Should be fixed now.

[2015-05-08 15:10] miyconst commented on #46
Juicy/juicy-tile-editor@b74ae0a9f72d61fcdcb31bcf42febf555a318441

[2015-05-08 15:10] miyconst commented on #46
1. Fixed.
2. Also fixed, but we should rework `juicy-tile-editor` to use common styles for top panel and sidebar. Currently sidebar has its own styles.

[2015-05-08 15:12] warpech commented on #46
Re: 2. can you start an issue for that?

[2015-05-08 15:13] warpech commented on #39
Closing as not reproducible anymore

[2015-05-08 15:13] #39 closed

[2015-05-08 15:23] miyconst opened #47 "Merge styles of juicy-tile-editor-form and juicy-tile-tree"
References to https://github.com/Juicy/juicy-tile-editor/issues/46

Currently styles for `juicy-tile-editor-form` are defined on the containing page like layout or example page, but `juicy-tile-tree` has its own styles.

The styles should be merged and moved to `juicy-tile-editor`.

[2015-05-08 15:23] miyconst commented on #46
Done.

[2015-05-08 15:23] #46 closed

[2015-05-08 16:50] miyconst commented on #37
@tomalec I have added `this.treeRefresh();` to `domReady` of `juicy-tile-editor`, but it does not show entire tree of the tiles.

Works fine in Launcher, but not here: `/juicy-tile-editor/examples/juicy-tiles-grid-editor.html`. That is why I put the call inside a timeout, now it works everywhere.

Should I move it somewhere else and refresh the tree without timeout?

[2015-05-11 08:21] warpech opened #48 "Cleanup the toolbar buttons"
We created a lot of buttons and other controls in the layout editor and it starts to get unclear how to use it.

Some of the buttons work in scope of a single element, other work for all elements in a group or in a juicy-tiles-container.

Steps to continue:
1. Make a list of currently used buttons and controls
2. Group by role
3. Decide how to present them in the UI. Maybe some collapsible menu, c

[2015-05-11 09:20] warpech commented on #2
Works ok now, thanks

[2015-05-11 09:20] #2 closed

[2015-05-11 09:21] warpech commented on #47
Approved

[2015-05-11 14:24] #47 closed

[2015-05-11 16:26] warpech opened #49 "Make the sidebar width resizable"
To solve problem 1. from https://github.com/Juicy/juicy-tile-editor/issues/45#issuecomment-100168831, please make the sidebar width resizable by dragging the left or right border (so it works when sidebar is attached to left or right edge of the screen).

After this is implemented, remove the horizontal scrolling of the sidebar.

To see the labels of the tree elements that are very deeply nested,

[2015-05-11 16:30] warpech opened #50 "Make juicy-toggle-icon-button data bindable"
Currently, there are problems with the sidebar coming from the fact that `<juicy-toggle-icon-button>` attribute "checked" only allows to work with sibling CSS selector:

Make `<juicy-toggle-icon-button>` data bindable (without breaking the current functionality) so it can be bound to boolean properties like "highlighted" or "expanded".

[2015-05-11 16:31] warpech commented on #45
The above problems are solved after implementing #49, #50.

Closing, thanks!

[2015-05-11 16:31] #45 closed

[2015-05-12 06:43] miyconst commented on #50
Done, but a question appears. Should the collapse/expand state will be saved with tile setup?

If yes, then the button should toggle dirty state of _Save_ button.
If no, then it should be removed from `item` and stored in `juicy-tile-tree` only.

[2015-05-12 06:46] miyconst commented on #50
This allowed me to finally format ugly html:

Before:

[code]

Now:

[code]

[2015-05-12 07:05] miyconst commented on #49
Are we going to migrate to Polymer 0.8 https://www.polymer-project.org/0.8/ any time soon?

There is a `core-resizable` https://github.com/Polymer/core-resizable component, which will be deprecated soon. The component is replaced with `iron-resizable-behavior` https://github.com/polymerelements/iron-resizable-behavior which does not support Polymer 0.5.

Should I use any of those components or mak

[2015-05-12 07:32] warpech commented on #50
The collapse/expand state should not be saved with the setup. Do you have an idea how to remove the state from `item` then?

[2015-05-12 07:44] warpech commented on #49
Polymer 0.8 and 0.9 don't have all the features in data binding that we use in Polymer 0.5.

We need to stick with 0.5 at least until 28-29.05.2015, which is the date of Google I/O. Based on previous experience, this event coincidents with Polymer update announcements.

Maybe create our own resizable element, based on https://github.com/Polymer/core-resizable, https://github.com/polymerelements/ir

[2015-05-12 08:21] warpech opened #51 "Renaming of items in the sidebar tree"
Currently, the top bar displays:
- readonly item id
- editable input for item display name

The sidebar tree displays:
- readonly item id (as display name in case the display name is empty, and as `title` attribute)
- readonly display name

Let's make that more user friendly by following a well established pattern:
1. remove the item id and the display name from the top bar
2. make the display nam

[2015-05-12 08:37] miyconst commented on #50
All of our items have unique id, so it should be something like `juicy-tile-tree.collapsed[item.id]`.

[2015-05-12 08:38] miyconst commented on #50
This rework broke _Scroll to selected element_, should be fixed. Just note here to don't forget.

[2015-05-12 13:18] #50 closed

[2015-05-13 15:09] miyconst commented on #51
How to get the item id then? What would be the width of the text box? Some of the names are very long.

[2015-05-13 15:10] miyconst commented on #44
Closing the issue, because the sidebar was reworked and now looks good.

[2015-05-13 15:10] #44 closed

[2015-05-13 15:17] miyconst commented on #15
Closing the issue, the drag & drop feature works and the sidebar was reworked.

[2015-05-13 15:17] #15 closed

[2015-05-13 16:13] warpech commented on #51
We have 3 "names" for an item:
- `item.id` (currently displayed as title of the tree element and in top bar)
- `item.itemName` - _explicit display name_
- `toDisplayName(item, branch)` - _implicit display name_, displayed in case there is no explicit display names

The width of the edit field should be the all available space in the sidebar (use flexbox for that? or span with [contenteditable](htt

[2015-05-13 17:47] miyconst commented on #51
Actually no.

We need id for the tiles, lets say I need to do some manual changes in my json setup. For this, I have to find proper id of needed item. It is very simple right now: click the item, select the id, copy it, search in json.

If the section [id: name] is removed from the top bar, and only edit field left, then how do I select & copy actual tile id?

Double click to edit could be good if

[2015-05-13 20:08] miyconst commented on #49
The `drag-resize` component seems to be very cool, but it has a lot of dependencies, and we already have dragging. That is why I decided to create own simple component.

The new components `juicy-resizable` is very simple, but does what we need in layout editor. Resize works in horizontal direction only, the vertical direction could be easily added, if needed.

The sidebar remembers it's width, no

[2015-05-13 20:13] miyconst commented on #49
The working demo is available http://juicy.github.io/juicy-tile-editor/.

[2015-05-13 20:13] #49 closed

[2015-05-17 14:51] miyconst commented on #43
Closing the issue, because applying both `auto` and `dynamic` height solves the problem.

[2015-05-17 14:51] #43 closed

[2015-05-17 14:53] miyconst commented on #17
@warpech is it still relevant? If so, then `juicy-border-picker` should also be moved.

We already have lots of repositories, not sure it is good.

[2015-05-17 15:04] miyconst opened #52 "Need a way to create empty groups"
I found that empty groups could be used as white space gap, it is some king of hacking, but still useful.

For example, I need to add border for an input. Our default bootstrap theme adds bottom border for all inputs. So, after applying outline it looks ugly.

I did like this:
1. Select input.
2. Create a new group.
3. Drag input to the parent's group.
4. Add some height to the empty group.
5. Sel

[2015-05-17 15:17] miyconst commented on #22
It looks like `index.html` of `juicy-highlight` has been changed, there is no more `Nested tiles 2`.
http://localhost:7409/juicy-highlight/index.html

`juicy-highlight` does not work for elements inside scrollable element though. If this is what this issue about, then we should decide how it should work. There may be lots of scrolls of different elements, moreover the element or the page may be sc

[2015-05-18 09:16] tomalec commented on #32
According to https://github.com/Polyjuice/Polyjuice/issues/42 and https://github.com/Polyjuice/Launcher/wiki/include-template-in-Polyjuice#how-launcher-uses-juicy-web-components-to-improve-plain-include-template-experience I would reduce the number of repacks done by juicy-tile-list itself.

After that we may reduce also the number of imperative repacks done by juicy-tile-editor

[2015-05-18 09:21] warpech commented on #52
@tomalec says he's ok with it for multiple reasons, so let's go with it. It can also be used to create a group to which some elements are moved.

I'm ok as well!

[2015-05-18 09:46] warpech commented on #51
We agreed on a meeting (@miyconst, @tomalec, me) and we decided that `itemName` may be should be generated once by `juicy-tile-editor` if it does not exist in setup. Setup will be in the dirty state until it is saved.

From now on, we have only 2 names: `id` (internal) and `itemName` (display name in the tree).

[2015-05-20 11:10] warpech commented on #22
As fair as I remember, the problem is not about about scrolled window, but only about a tile that is inside a scrolled div with `overflow: auto`.

[2015-05-20 11:17] warpech commented on #17
`juicy-border-picker` should not be moved, because it is of specialised interest. The color picker, on the other hand, is of general interest of choosing color.

It is relevant, because on CustomElements.io there is only one alternative color picker ([color-picker-element](https://github.com/bbrewer97202/color-picker-element)) and it is completely different:

Compared to ours:

[2015-05-20 13:22] miyconst commented on #51
Done.

The `itemName` can now be edited by duble click on an item.

[2015-05-20 13:22] #51 closed

[2015-05-20 14:30] miyconst commented on #17
Release under version at `1.0.0`

[2015-05-20 14:38] miyconst commented on #22
Agreed with @warpech to use `getBoundingClientRect` to comare the previous mask with the new mask.

[2015-05-20 14:59] miyconst commented on #22
Done. Released new version.

[2015-05-20 15:01] miyconst commented on #22
Also updated demo to show how it works.

[2015-05-20 15:54] miyconst commented on #17
Done.

The repository: https://github.com/Juicy/juicy-color-picker
The demo: http://juicy.github.io/juicy-color-picker

Also added a simple readme.

[2015-05-20 15:54] #17 closed

[2015-05-20 16:34] miyconst commented on #52
Done.

Also moved _Ungroup_ button to the _Goup actions_ buttons set.
Fixed _Ungroup_ button availability for root container.

[2015-05-20 16:34] #52 closed

[2015-05-20 16:42] miyconst commented on #37
@warpech, @tomalec any input for this issue? Can I close it?

[2015-05-21 08:50] miyconst commented on #22
Works wrong if the window was scrolled.

[2015-05-21 10:48] warpech opened #53 "Replace icons with an icon font"
We decided to use following icons from Font Awesome:

- Save - save
- Revert - undo
- Clear - eraser
- Source - wrench (maybe there's a better idea?)
- Direction - hand-o-down / hand-o-right (becomes a toggle icon)
- Gutter - `<input>`
- Oversize - `<input>`
- New Group - plus-square-o
- Move to group - sign-in
- Unroup - minus-square-o
- Inner HTML - code
- Fill - tint
- Outline - pencil-square-o

[2015-05-21 10:49] miyconst commented on #48
- [ ] Should the save button save all changes? Yes, it should. Requires https://github.com/Polyjuice/Launcher/issues/126. Corresponding issue: https://github.com/Polyjuice/Polyjuice/issues/49
- [x]  Remove the "Stack" button.
- [x] Clear button is broken after itemName changes. It looks like the itemName value is not generated after Clear button pressed and new items generated.
- [x] Revert button

[2015-05-21 10:52] warpech commented on #48
As an illustration to the above tasks, Image from the meeting between me and @miyconst:

![wp_20150521_12_48_47_pro](https://cloud.githubusercontent.com/assets/566463/7747121/22aee9ba-ffb8-11e4-9355-ae2aabba8f6e.jpg)

[2015-05-21 11:24] #22 closed

[2015-05-21 12:32] miyconst commented on #48
@warpech should the Clear button automatically save changes? I don't think so.

[2015-05-21 12:33] warpech commented on #48
I don't think so either.

[2015-05-21 12:35] warpech commented on #48
I made some edits to the above checklist

[2015-05-21 12:56] miyconst opened #54 "Oversize should work for anything that can have a background"
Currently it does not:

[2015-05-21 12:57] miyconst commented on #54
Parent issue: https://github.com/Juicy/juicy-tile-editor/issues/48

[2015-05-21 15:36] miyconst opened #55 "Fix z-index issues"
1. Clear popup apperas under sidebar.
2. Toggle editor icon appears under sidebar after page load, if the sidebar attached to the right side.

[2015-05-21 16:29] #55 closed

[2015-05-21 16:31] miyconst commented on #53
`Outline` also does not require icon. Other done.

[2015-05-21 16:31] #53 closed

[2015-05-22 08:49] miyconst commented on #54
I moved `Oversize` property to `Fill` and `Outline` group as it can be applied to any element, not only groups.

[2015-05-22 08:49] #54 closed

[2015-05-22 09:14] miyconst opened #56 "After dragging parent group to its child group they both disappear"

[2015-05-22 09:39] miyconst commented on #56
Fixed.

[2015-05-22 09:39] #56 closed

[2015-05-22 13:12] miyconst opened #57 "[juicy-tile-list]: Reordering elements does not reorder focus"
If input/select/a controls were reordered by priority property, then `tabindex` should also be applied.

It looks ugly when focus jumps from the bottom of a form to the top or to some other place.

@warpech, @tomalec any thoughts?

[2015-05-25 17:57] miyconst opened #58 "Static width of root containers causes dirty state of each juicy-tile-list"
Currently I cannot apply `100%` width to parent container of `juicy-tile-list`, the value is automatically being changed to actual width of the container.

To avoid scrolls on small monitors I manually replace values with `100%`, the styles works fine, but layout editor reverts value on open and all of the `juicy-tile-lists` became dirty.

If a page has a set of the same `juicy-tile-list`, for exa

[2015-05-25 22:45] tomalec commented on #57
Good point, is there a way to set it without digging into tile DOM?

[2015-05-26 10:22] miyconst commented on #57
There is a `tabindex` html attribute, but it works for focusable elements only. http://www.w3schools.com/tags/att_global_tabindex.asp
So we have to set value for each `input`, `select`, `a` and other focusable elements, but I don't like this way. A `juicy-tile` may contain multiply inputs, even more, an input may be added after we set `tabindex` value.

Other way is to catch tab button on `keydown

[2015-05-26 13:02] warpech commented on #57
I think the easiest way (not fighting against the browser) would be to overwrite the value of the `tabindex` attribute for all elements where `tabindex` makes sense.

It would mean recursively walking the layout setup tree from top to bottom in index order and incrementing a variable, then applying value of that variable as `tabindex`.

[2015-05-26 13:11] miyconst commented on #57
How to deal with the dynamic elements? Rerun entire code on each DOM change? Also there are some focusable elements outside of the editable part of layout?

[2015-05-26 14:30] warpech commented on #57
Yeah, that would suck, especially when we switch the role of layout editor to become only a CSS generator :(

Then we may need to do it in JavaScript. First clear the value of the `[tabindex]` attribute on all elements, then select all `input, select, a, [tabindex]` and apply a value calculated by sorting them based on the actual `top, left` position.

We cannot move elements in DOM, because they

[2015-05-26 14:39] miyconst commented on #57
Yes, looks like so. The question is how do we know when the DOM was changed and we have to re-apply tabindex value?

The `MutationObserver` comes to mind:
https://developer.mozilla.org/en/docs/Web/API/MutationObserver

But it may cause performance issues for big pages, not sure about that, need some testing.

[2015-05-26 20:18] tomalec commented on #57
advise from Extreme Clean Solutions Departament: ;)
Maybe we should rise an issue in CSS Grid spec  similar to flexbox one https://lists.w3.org/Archives/Public/www-style/2014Dec/0235.html, as CSS grid is so far in Chrome and it's not too mature, there is a change to get it into spec ;)

[2015-05-27 08:29] warpech commented on #57
Nice idea to solve it on spec level! Unfortunately not a single response to this message in the mailing list :(

Also, from proposal to spec to implementation that would take at least a year even in the most agile conditions.

[2015-05-27 08:33] warpech commented on #57
MutationObserver seems slow to me...

We could detect Tab press by window `keydown` event (useCapture), then call `preventDefault()` and move focus to next element in the display order. I cannot find a JS library to find a next element in display order, but maybe we can write that as a standalone lib.

[2015-05-27 08:43] miyconst commented on #57
How to determine which element is the "Next"?

This example demostrates, that same visual layout may have different focus behaviour.
https://jsfiddle.net/p1c9azvo/2/

[2015-05-27 09:04] warpech commented on #37
Problem solved for me.

Extra Clean Solutions Department (@tomalec) might not like the timeout so I will let him speak or close the issue :)

[2015-05-27 09:10] warpech commented on #57
We would need to choose one but make it configurable per juicy-tile-list.

Left-to-right, then top-to-bottom (case 1 in think above) seems better for me, but both will fail in RTL writing systems. Correct way would be to have 4 options:
- LTR (row-wise)
- LTR (column-wise)
- RTL (row-wise)
- RTL (column-wise)

[2015-05-27 09:21] miyconst commented on #57
We may choose whatever we like, but this will be a limitation for app designers. Lets say we have a long form of fields and the focus should go from top to bottom. Some of the fields in bottom may appear after user input.

Then, the app designer decides, that there are too many free space left, and wants to put this long form in two columns.

[2015-05-27 09:22] tomalec commented on #57
There is a 'direction' property on every container/group already, and we could use it.
(`rightDown`, `downRight`,... - theoretically we have 8 directions of packing/alignment)

[2015-05-27 09:40] warpech commented on #57
Yeah, I agree this should be the same `direction`.

`juicy-tile-list` creates this problem by moving stuff on screen, so it should be solved at the level where  `juicy-tile-list` is inserted and loaded with the setup.

[2015-05-27 14:41] tomalec commented on #57
Right now I would see solutions:

## Proposed solutions
1. Hope, vote, shim for support of CSS Grid / flexbox display-order affecting tab-order.

   Pros:
   1. Cleanest solution possible

   Cons:
   1. Least likely to happen,
   2. There were votes to reject such behavior in flexbox already,
   3. [Proposed flexbox solution](https://wiki.csswg.org/spec/css3-flexbox/accessibility?s[]=nav&s[]=inde

[2015-05-28 07:55] tomalec commented on #57
Bad news, for 3.iv : https://www.w3.org/Bugs/Public/show_bug.cgi?id=18415 3. seems non-doable as well

BTW, maybe we can move that issue to the [`<juicy-tile-list>` repo](https://github.com/Juicy/juicy-tile-list)?

[2015-05-28 14:39] warpech commented on #57
Sure, can you move it? Manually or with the tool https://github.com/google/github-issue-mover

[2015-05-28 20:39] warpech commented on #53
For future consideration - there is now a rich and size-optimized icon font from Google: http://google.github.io/material-design-icons/ (list of icons: https://www.google.com/design/icons/)

I'm not particularly loving it, but good to know!

[2015-05-28 22:25] tomalec commented on #57
This issue was moved to Juicy/juicy-tile-list#32

[2015-05-28 22:25] #57 closed

[2015-05-29 07:18] miyconst commented on #53
Very solid icon collection, the names are a bit strange though, the `car` icon is named as `time to leave` :laughing:

[2015-06-01 10:45] warpech commented on #48
Can this be closed? In the above list, not all checkboxes are checked

[2015-06-01 10:48] warpech commented on #58
@tomalec: should @miyconst find a fix for this or will it be automatically fixed in juicy-tiles-list `repackSeparation` branch?

[2015-06-01 11:37] miyconst commented on #48
The only one issue left: `Cannot find function or filter: forceJson` when saving setup for launcher.

[2015-06-01 11:42] warpech commented on #48
There is a separate issue for that: https://github.com/Polyjuice/Launcher/issues/126

Closing this one, thanks!

[2015-06-01 11:42] #48 closed

[2015-06-02 15:59] miyconst opened #59 "Make juicy-draggable be a pure WebComponent not a Polymer element"

[2015-06-02 16:00] miyconst opened #60 "Make juicy-resizable be a pure WebComponent not a Polymer element"

[2015-06-03 05:35] #60 closed

[2015-06-03 06:20] miyconst commented on #59
Done.

[2015-06-03 06:20] #59 closed

[2015-06-03 07:40] warpech opened #61 "Dragging to a group changes relative dimension to absolute"
Reproducible running Launcher 2.0.0-pre14, Chatter 0.0.0-pre2 and Images 2.0.0-pre8.

1. Go to a room in Chatter app with default styles.
2. Open layout editor.
3. Drag `<so-juicy-filedrop>`  (width: 100%) to group `root_1` (width: 85%)
4. Error happens: the dimensions of `root_1` are changed to pixel value (1262 in my case)

Screenshots

Desired:

![screenshot 2015-06-03 09 39 20](https://cloud.g

[2015-06-03 08:26] warpech opened #62 "Impossible to drag a tree element to the root"
In sidebar tree it is possible to drag tree elements from the `juicy-tile-list` root level to a group and between groups, but it is not possible to drag from a group to the root level.

Using "To group" button allows to move elements from a group to the root level as expected.

![screenshot 2015-06-03 10 27 50](https://cloud.githubusercontent.com/assets/566463/7955799/55c09736-09db-11e5-8cd6-71e00

[2015-06-04 11:13] tomalec commented on #58
Even if it would not be fixed, it should be definitely fixed after separation is done.

[2015-06-05 09:06] warpech commented on #37
Ping @tomalec - can this be closed?

[2015-06-05 09:22] miyconst commented on #61
Current add to group method recalculates dimensions for the parent group to make sure that every element has enough space inside.

This can be disabled, but then layout designer should care about group size by himself.

I think it is okay. If I have a group with 20% width and I drag to there some buttons, then it means that I want all of them fit in 20% of screen width.

[2015-06-05 09:23] miyconst commented on #62
Taking this one.

[2015-06-05 10:18] #62 closed

[2015-06-05 11:11] tomalec commented on #37
For Polymer Element there is a `.async` method, but as we are moving away from Polymer `setTimeout` works better.

I suspect the reason why it didn't work for editor demo without `setTimeout` was that the juicy-tiles list was not yet in DOM. Current solution does not cover the cases when `juicy-tile-list` will appear later.
As mutation observer may be expensive, I think we can agree on such behavi

[2015-06-05 11:32] warpech commented on #37
Then maybe `setTimeout` should have been added in the demo code, not inside `juicy-tile-editor`?

[2015-06-05 13:02] tomalec commented on #37
Or open on click, or maybe just put it after tiles in DOM?

2015-06-05 13:32 GMT+02:00 Marcin Warpechowski notifications@github.com:

[2015-06-05 13:57] warpech commented on #37
@miyconst could you check if the above would work instead of using `setTimeout`?

[2015-06-05 17:11] miyconst commented on #37
Currently `<juicy-tile-editor selectionmode watchedtagnames="['JUICY-TILE-LIST', 'JUICY-TILE-GRID']" class="max-height"></juicy-tile-editor>` is at the very bottom of the Launcher and inside `<template if="{{editingMode$}}">`.

This means that `juicy-tile-editor` is added to the page by user's click and after all other elements.

[2015-06-16 14:35] miyconst opened #63 "juicy-tile-list fails if there are some comments inside"
[code]

[2015-06-16 14:47] #63 closed

[2015-06-19 07:49] miyconst commented on #37
Ping @warpech & @tomalec.

[2015-06-30 08:49] tomalec opened #64 "Clear styles button does not work"
It simply make no other effect other than making tree-view empty, in source area, setup remains unchanged, tiles are arranged as they were, there is no way to save cleared setup to the server

[2015-06-30 11:04] tomalec opened #65 "Implement UI for the "first break point""
Once https://github.com/Juicy/juicy-tile-grid/issues/9 is ready, we need to make sure that it works well with editor, plus we could provide debugging hint with current element size, to make determining context value easier for the designer.

[2015-07-03 06:57] tomalec commented on #65
I've implemented it so it uses good, old width/height input. @miyconst Please check, how usable it is, as I'm not sure that "current element size" is what we need, and how confusing will it be ;)

[2015-07-03 07:24] miyconst commented on #65
I am a bit confusing, how should I test it?

[2015-07-03 07:38] tomalec commented on #65
Set the width for `<juicy-tile-grid>` element using editor, It should set the packing/CSS generating context, which then will be used after page-reload/ at other machine etc.

So this should solve a problem with:
1. Setup layout
2. Resize the window
3. Reload the page/load it from the browser in different window size.

[2015-07-03 10:30] miyconst commented on #65
With those new changes I can't setup layout I want. Some guides from @tomalec would be needed.

[2015-07-06 09:22] miyconst opened #66 "Applying source does not update values in editor-form"
Applying source by `Source` button updates tiles setup, but the values in the `juicy-tile-editor` form is not being updated.

Some refresh required.

[2015-07-06 11:40] miyconst commented on #66
The issue was because `allItems` dictionary which is `Dictionary<id, tile>` was not updated on `juicy-tile-list.setup` change.

I took the update logic from `attributeChanged` method to `onSetupChanged` and call explicitly whenever a new json setup applied.

@tomalec take a look please.

[2015-07-06 11:42] miyconst commented on #61
@tomalec what do you think?

[2015-07-06 17:38] miyconst opened #67 "Improve width/height popup"
The width/height popup dialogs was made before fractions, they need some adjustments now.

I think, this one looks good:

![new-width-popup](https://cloud.githubusercontent.com/assets/6435556/8528881/e5ce0590-241e-11e5-8299-36fde94e051c.png)

@tomalec  what do you think?

[2015-07-06 17:42] miyconst opened #68 "Add tile dimensions to highlight element"
Me and @tomalec think, that it would be nice to add width/height values and actual tile dimensions to highlight element of a tile.

It should be a small rectangle in the top left corner with some text like:

[code]

[2015-07-06 17:46] miyconst commented on #68
There are some ways to achieve this feature:
1. Teach `juicy-highlight` to display it's content with the highlight svg.
2. Add a new `juicy-highlight-with-content` element, which would use `juicy-highlight`, but also add the content.
3. Teach `juicy-tile-list` to not only highlight tile, but also display some content for it.

I vote for solution 1.

[2015-07-06 17:49] miyconst opened #69 "Remove console errors from demos"
Currently both of the demos throws some exceptions on save button click:

![console](https://cloud.githubusercontent.com/assets/6435556/8529086/6fd1323e-2420-11e5-8708-297d4f103c64.png)

Those errors should be fixed.

[2015-07-06 18:28] miyconst opened #70 "Invalid height: auto calculations"
In the `juicy-tiles-grid-editor.html` demo height for highlight element being calculated incorrectly if tile's height is auto.

![invalid-height-auto](https://cloud.githubusercontent.com/assets/6435556/8529557/e0759d42-2423-11e5-8dcc-d6dd036893f2.png)

Here is the setup I use:

[code]

@tomalec should I investigate this?

[2015-07-06 18:37] miyconst opened #71 "Height in %, how to use it?"
When I apply height in % to a tile it jumps to the top position of all other tiles.

![tile-static-height](https://cloud.githubusercontent.com/assets/6435556/8529927/9ef187b6-2426-11e5-8077-fbdbb27a3525.png)

![tile-precent-height](https://cloud.githubusercontent.com/assets/6435556/8529930/a32f32d8-2426-11e5-975e-beefb3dbb1df.png)

The questions:

1. What is the 100% of height?
2. Why the tile wit

[2015-07-06 18:57] miyconst opened #72 "Changes inside a nested juicy-tile-grid does not trigger dirty state of save button"
Steps to reproduce:

1. Open the `juicy-tiles-grid-editor.html` demo page.
2. Clear setup.
3. Reload page.
4. Save setup.
5. Reload page.
6. Change width/height of any tile inside nested `juicy-tile-grid`.
7. The save button will stay disabled, but should be enabled.

![nested-juicy-tile-grid-bug](https://cloud.githubusercontent.com/assets/6435556/8530314/f7ccabd4-2428-11e5-86b9-a3073a60f98f.png)

[2015-07-06 19:08] miyconst opened #73 "Hide/show 6th tile at juicy-tiles-grid-editor.html does not work"
Steps to reproduce:

1. Open the `juicy-tiles-grid-editor.html` demo with clean styles.
2. Click the eye icon on tile `6` to hide it.
3. Observe the changes - nothing happens, bug 1.
4. Click the eye icon again to show the tile `6`.
5. Observe the changes - the tile hides, bug 2.

![hide-tile-bug](https://cloud.githubusercontent.com/assets/6435556/8530668/f7cc96ce-242a-11e5-9e46-38f4970eda06.png)

[2015-07-06 19:23] miyconst opened #74 "Flexible for groups does not work"
Flexible checkbox does no impact on groups and it's value is not saved.

cc @tomalec

[2015-07-07 15:18] tomalec commented on #66
Have you tried conventional `setupChanged`?
Entire fix LGTM except the fact, that now we have native: `attributeChangedCallback`, polymers: `attributeChanged`, `setupChanged`, and adding another custom `onSetupChanged` method could provide more confusion.

Maybe we should use Polymer's `setupChanged` so it will be used automatically as a setter for setup.

On the other hand maybe it's better not t

[2015-07-07 15:25] miyconst commented on #66
I could try using `setupChanged` of Polymer, but `attributeChangedCallback` does not fire when `this.setup` is changed like `this.editedTiles.setup = this.source`, that is why I add a function to be able to call it manually.

I will try to use `setupChanged` and if it does not work then rename `onSetupChanged` to `reload`.

[2015-07-07 15:36] tomalec commented on #61
I do agree that if you have big container and you would like to put some items inside it should not shrink.

The only cases to resize the container I find are:
1. When you have a group X wide and Y tall, oriented `"rightDown"`(horizontal layers, LTR), full of items, then you try to put an element X by Z, I would expect group to become X by Y+Z.
2. When you have group 200 by 200, with two elements

[2015-07-07 15:41] tomalec commented on #67
Looks cool :) especially with "Actual width".

Maybe it's also a time to rename `auto` to `pre-calculate` alt least for UI?
https://github.com/Juicy/juicy-tile-list/issues/30

[2015-07-07 15:42] tomalec commented on #68
I vote for 1 as well.

[2015-07-07 15:44] tomalec commented on #70
If you can, I bet it's because of margins in elements inside the tile.

[2015-07-07 16:01] tomalec commented on #71
as the `"%"` dimensions are related to the size of the parent container, probably we should block setting it when related size is unlimited/`Infinity`.

It's 100% of containers height, so it makes sense, if your container have delimited height. The root container have packing dimensions set to infinity (for `"rightDown" it's height). So the straightforward solution is either to change the directio

[2015-07-08 09:07] miyconst commented on #66
Polymer's `setupChanged` callback works as expected. Closing the issue.

[2015-07-08 09:07] #66 closed

[2015-07-08 10:55] miyconst commented on #67
I have improved width/height popups, but I don't like the way it works.

To access the real tile I shared `juicy-tile-editor` with `juicy-tile-editor-form` via parameter and get dimension like `this.editor.selectedElements[0].getBoundingClientRect()`.

I would like to keep `juicy-tile-editor-form` not aware from `juicy-tile-editor`.

[2015-07-08 11:00] miyconst commented on #67
Let's keep the discussion about `auto` in it's issue.

[2015-07-08 12:46] miyconst commented on #70
During investigation I found another very strange behaviour:
![juicy-tile-wrong-height](https://cloud.githubusercontent.com/assets/6435556/8570300/1c769796-2588-11e5-90e1-880d5f64c2bf.png)

The tile height is calculated and set correctly to `128px`, but chrome displays it as `50px`. I disabled all animation styles for tiles, but the bug is still here.

`min-height` does not solve the problem, `hei

[2015-07-08 13:48] miyconst commented on #70
Similar situation with the first issue.

The tile height is being calculated by: `tile.scrollHeight`, even thought the height style was removed `tile.style.height = "";` Chrome still does not return correct value.

In Chrome debugger I see wrong value for `tile.scrollHeight`, but as soon as I navigate to actual `div` inside the tile and check it dimensions the `tile.scrollHeight` value changes to

[2015-07-08 15:39] tomalec commented on #70
Regarding the second issue you described, I've seen it before, and thought it's only bug in Chrome debugger, as tile is displayed correctly, and I thought Chrome fails to show dimensions of (experimental/available under the flag) CSS Grid within shadow DOM (still fresh feature) .

But now, you pointed out, that it affects our highlighter, so we need to address that.

[2015-07-08 16:31] miyconst commented on #70
Our highlighter paints on top of `juicy-tile`, and the `juicy-tile` has wrong dimensions.

We could paint the highlight over real html element instead of `juicy-tile`, but it won't work with groups.

[2015-07-08 17:07] tomalec commented on #67
Why can't you use just `this.selectedItems` as in other methods?

[2015-07-08 18:16] miyconst commented on #68
I improved `juicy-highlight.show` function, now it is:

[code]

`getContent` - function which is being called per each focused element. The return value of the function is shown in the top left corner of the element.

[2015-07-08 18:21] miyconst commented on #67
`this.selectedItems` is an array of tile setup objects, not of actual tiles, am I missing something?

[2015-07-08 18:38] miyconst commented on #68
Done. Now actual tile size is shown inside hover `juicy-highlight`.

There is an issue though, moving mouse to the content acts like `blur` of tile, which hides the `juicy-highlight`.

[2015-07-08 18:57] miyconst commented on #68
After playing some more time I changed behaviour, now display actual tile size of selected tiles, not of hovered tiles.

This does not hides size on `tile.blur` and lets see size of multiply tiles simultaneously.

Looks like this:

![actual-tile-size](https://cloud.githubusercontent.com/assets/6435556/8579157/a0b58872-25bb-11e5-8b4f-0d13fae43468.png)

[2015-07-09 07:25] tomalec commented on #70
I think we should highlight `juicy-tile`, and fix it's dimensions somehow.

[2015-07-09 07:27] tomalec commented on #68
Great,
It is an actual size, not the setup one?

[2015-07-09 07:30] tomalec commented on #67
you can iterate over them, and fetch tile by id.  However keeping a reference to editor should be easier and faster.

`-tree` is also aware of editor, isn't it? So maybe we should just live with the fact that they are not so independent components.

[2015-07-09 07:49] miyconst commented on #68
Yes, it is actual tile size in `px`. Do you also want to see the _setup size_?

[2015-07-09 07:50] tomalec commented on #68
Yes

[2015-07-09 08:08] miyconst commented on #67
Actually, I cannot. The tiles have ids of number, like `0`, `1` and this makes it impossible.
- `document.getElementById("0")` returns nothing, because the tiles are inside shadow dom.
-  `document.querySelector("#0")` throws an exception `Uncaught DOMException: Failed to execute 'querySelector' on 'Document': '#0' is not a valid selector.`.

[2015-07-09 08:48] miyconst commented on #70
Looks like `!important` does not solve the issue if it is set with `height` value.

Setting height style in timeout solves:

`juicy-tile-grid.js line: 199`

[code]

Not sure whether it is a good idea, but it works. Any thoughts?

[2015-07-09 09:13] miyconst commented on #68
Okay, next screenshot:

![image](https://cloud.githubusercontent.com/assets/6435556/8591862/c9c22ba8-2633-11e5-9aa0-b3d6f307d8a6.png)

[2015-07-09 09:25] miyconst commented on #68
Please, close the issue if you think it is good.

[2015-07-09 09:31] miyconst commented on #73
Unable to reproduce the issue. Looks like it was caused by corrupted saved styles.

[2015-07-09 09:31] #73 closed

[2015-07-09 10:43] miyconst commented on #72
This happens because nested `juicy-tile-grid` does not have `juicy-tiles-setup-sync`.

The `juicy-tiles-setup-sync` assigns itself to `juicy-tile-grid`:

[code]

I think this should be reworked and `juicy-tiles-setup-sync` should be set to `juicy-tile-list` by parameter.

[2015-07-09 10:43] miyconst commented on #72
@tomalec what do you think?

[2015-07-09 11:07] miyconst commented on #69
Error 1 fixed, others require mock server, not sure it worth the effort.

[2015-07-09 11:11] miyconst commented on #65
After short (maybe not that short) explanation from @tomalec of how to use it, I see it very reasonable and straight forward.

Current state is not ready to merge to `gh-pages` branch though, tight groups are required.

[2015-07-09 11:30] tomalec commented on #67
But you can use `.tiles` map
9 lip 2015 10:08 "Konstantin" notifications@github.com napisał(a):

[2015-07-09 11:35] tomalec commented on #72
I think it shouldn't as we plan not to attach editor and all json related
stuff to DOM if not needed/requested.
9 lip 2015 12:43 "Konstantin" notifications@github.com napisał(a):

[2015-07-09 11:46] miyconst commented on #72
Okay, then I close this issue as non relevant.

[2015-07-09 11:46] #72 closed

[2015-07-09 14:30] tomalec commented on #74
@miyconst Could you help me reproduce this issue, or share a setup?

[2015-07-09 15:04] miyconst commented on #74
Looks like the issue has gone. Not sure what was that, but it was consistent, probably some corrupt setup saved.

[2015-07-09 15:04] #74 closed

[2015-07-10 18:58] miyconst commented on #67
Yes, this one looks much better, don't know how I missed it out.

I removed reference to `juicy-tile-editor` from `juicy-tile-editor-form` and used the collection you specified.

Closing the issue.

[2015-07-10 18:58] #67 closed

[2015-07-14 14:53] tomalec opened #75 "Cannot drag element out of group on first level"
as there is not dropable for root level items

[2015-07-16 15:47] miyconst opened #76 "Demo page with basic setups"
By @tomalec:

[2015-07-16 15:50] miyconst commented on #76
Closed as copy of: https://github.com/Juicy/juicy-tile-grid/issues/13.

[2015-07-16 15:50] #76 closed

[2015-07-20 18:10] miyconst commented on #71
Thank you for the explanation.

[2015-07-20 18:10] #71 closed

[2015-07-20 18:10] miyconst commented on #68
@tomalec can this one be closed?

[2015-07-20 18:13] miyconst opened #77 "Add UI for rightToLeft property"
There is a new property `rightToLeft` (https://github.com/Juicy/juicy-tile-list/issues/38), but `juicy-tile-editor` lacks UI for it.

- [ ] Add UI for `rightToLeft` property.
- [ ] Add titles with explanation to direction buttons.

[2015-07-20 18:16] tomalec commented on #77
Maybe we could also change icons to be more vertical/horizontal, and do not suggest left to right?

[2015-07-20 18:58] miyconst commented on #77
Okay, I will also look for some better icons.

[2015-07-21 07:57] tomalec commented on #68
Yes, thanks

[2015-07-21 07:57] #68 closed

[2015-07-21 10:23] miyconst commented on #77
Here are four options to choose from:

![2015-07-21](https://cloud.githubusercontent.com/assets/6435556/8798523/8f8b6dba-2fab-11e5-87c7-9d8ec94ac2e8.png)
![2015-07-21 1](https://cloud.githubusercontent.com/assets/6435556/8798524/8f8e6f88-2fab-11e5-8b60-bd53faa623a0.png)
![2015-07-21 2](https://cloud.githubusercontent.com/assets/6435556/8798525/8fa90244-2fab-11e5-9c9d-8e9635cc1de4.png)
![2015-07-21

[2015-07-21 10:40] warpech commented on #77
I like the last one as well

[2015-07-21 11:15] tomalec commented on #77
I would say that forth is perfect :)

[2015-07-21 12:24] miyconst commented on #77
Now it is getting cool:

![image](https://cloud.githubusercontent.com/assets/6435556/8800404/15318c1a-2fbb-11e5-8763-9c8706cc50bb.png)

The `Direction` buttons change icon alignment according to the `Horizontal` & `Vertical` arrows.

The only question is why the property `bottomUp` is named so?
I would go with one of these:
- `rightLeft` & `downUp`
- `rightToLeft` & `bottomToTop` - this one I like

[2015-07-21 14:59] tomalec commented on #77
I like the new buttons.

Regards naming, what about `upwards`(, `downwards`), `leftward`(, `rightward`).

I think it's not that bad that they are not similar to each other currently, as they are not the part of the same set. You are not choosing one from: `leftToRight`, `rightToLeft`, `bottomToTop`, `topToBottom`, `sideToSide`, `levelToLevel` (?).

`rightToLeft` is completely independent choice fr

[2015-07-21 15:01] tomalec commented on #77
Unless we will make it a choice of 1 of 8 directions:
- downwardsLeftToRight
- rightwardsTopToBottom
- leftwardsTopToBottom
- ...

but I don't think it would be usable.

[2015-07-21 15:11] miyconst commented on #77
+1

Yes, they are independent, just for me it would be easier to remember properties with same naming convention. Actually, I created some examples with `bottomToTop: true`, just replacing directions in `rightToLeft` property. The examples didn't work, obviously. Then I found the real property name.

The `borderColor` and `backgroundColor` are also two independent properties, but we don't name it

[2015-08-01 06:47] miyconst commented on #77
@tomalec can this issue be closed?

[2015-08-01 06:48] miyconst commented on #65
Closing the issue as it is implemented and merged to master branch.

[2015-08-01 06:48] #65 closed

[2015-08-02 16:56] #77 closed

[2015-08-04 14:02] warpech commented on #61
Discussed today that this should be fixed. The values entered in % should be kept in % after moving to a group

[2015-08-04 14:31] warpech opened #78 "Add UI to align the grid cell content"
In layout editor, we need a way to align the content of the cell.

Here is how it looks in other software. From the examples that I found, I like Word 2010 and Word for Mac 2011 the most.

PowerPoint 2007:
<img width="338" alt="screenshot 2015-08-04 16 26 50" src="https://cloud.githubusercontent.com/assets/566463/9063012/f1a895ca-3ac5-11e5-8688-c62822f50370.png">

Word 2010:
<img width="303" alt="

[2015-08-04 15:55] warpech opened #79 "Rename width/height property labels"
Currently we have the following property labels in width and height:

- precalculate
- flexible
- dynamic

<img width="216" alt="screenshot 2015-08-04 17 53 45" src="https://cloud.githubusercontent.com/assets/566463/9065450/dc396de8-3ad1-11e5-92a3-c79fdc075591.png">

Let's think of better names that reflect the **effect** of the property.

As discussed on today's meeting, "dynamic" should be renam

[2015-08-04 16:40] miyconst commented on #79
We also agreed to replace `precalculate` checkbox with a button `calculate`, the button would calculate value and set it to the input.

[2015-08-05 06:57] miyconst opened #80 "Add possibility to drag elements in the side panel to change priority"
It should be possible to drag elements in the side panel to change their priority. Right now we can resort elements (change priority) by clicking `+`/`-` buttons only.

cc @warpech, @tomalec

[2015-08-05 07:42] tomalec commented on #79
Replace, or add side by side?

Replacing would simplify flow definitely.

But, I would leave precalculate feature in juicy-tile-list code, just in case:
1. We will change our mind,
2. We would need it for some fallback/shims

[2015-08-05 09:30] warpech commented on #79
I think _replace_. The purpose is to remove the need to prerender the elements before applying the layout (this is important for https://github.com/Polyjuice/Polyjuice/issues/58).

Of course we can leave the feature somehow in code, but we should never use it ourselves, because it drastically affects performance.

[2015-08-05 09:39] miyconst commented on #79
I agree with @warpech, the feature could stay in `juicy-tile-list` and `juicy-tile-grid`, but don't use it in `juicy-tile-editor`.

[2015-08-05 10:25] tomalec commented on #79
Agree.

That's exactly what I thought about :)

[2015-08-06 06:44] miyconst commented on #79
Done.

I use the `precalculate: true` to get the calculated dimensions.

[2015-08-06 06:48] miyconst commented on #79
This is how it looks like.

![image](https://cloud.githubusercontent.com/assets/6435556/9105375/ba24e152-3c1f-11e5-86ee-942cb8f97fce.png)

[2015-08-06 14:43] tomalec commented on #78
I would pick an icon, similar to ones above, but with single rectangle inside, instead of lines. We are aligning single content box inside, and those icons suggest lines/tiles alignment as with `direction`, `rightToLeft`, etc.

[2015-08-10 05:09] miyconst commented on #79
@warpech, @tomalec, should I release new version of `juicy-tile-editor` and propagate this to Launcher?

[2015-08-10 05:11] miyconst commented on #37
@warpech, @tomalec can this issue be closed?

[2015-08-10 08:42] miyconst commented on #78
Something like this: ![image](https://cloud.githubusercontent.com/assets/6435556/9163329/3eb80c34-3f52-11e5-8bdd-b579eb9b40e0.png) ![image](https://cloud.githubusercontent.com/assets/6435556/9163337/4255fc70-3f52-11e5-8154-ff3c588990d7.png) ![image](https://cloud.githubusercontent.com/assets/6435556/9163350/493309a2-3f52-11e5-974f-f4c13333d93d.png)?

There is no such icons in font-awesome, but it

[2015-08-10 10:46] warpech opened #81 "Show the elements tree on the right side of the window by default"
Like this:
<img width="1313" alt="screenshot 2015-08-10 12 46 04" src="https://cloud.githubusercontent.com/assets/566463/9169776/cbe3ad74-3f5d-11e5-8724-40836af19e22.png">

[2015-08-10 12:48] miyconst commented on #79
Released with @12a951ec447a8929d8baad4b209addeb138cf73c

[2015-08-10 12:48] #79 closed

[2015-08-10 12:48] miyconst commented on #81
Released with @12a951ec447a8929d8baad4b209addeb138cf73c

[2015-08-10 12:48] #81 closed

[2015-08-10 15:54] warpech commented on #78
I guess @tomalec means a small rectangle inside a bigger rectangle, right? This can actually be simulated with an `<span style="display: inline-block">`

[2015-08-10 18:09] miyconst commented on #78
Yeah, I just meant that.

[2015-08-10 20:54] tomalec commented on #78
I think, div/stop icon inside a div with border should be enough.

[2015-08-11 18:30] miyconst opened #82 "Width/height inputs are disabled with precalculate: true"
The precalculate checkbox is removed (https://github.com/Juicy/juicy-tile-editor/issues/79), but the default tile style is `precalculateHeight: true`. This leads to disabled height input by default, and requires user to press *Calculate* button to enable it.

Possible solutions:
1. Change default style, this leads to very ugly and overlapping layout on first page load.
2. Do not disable width/heig

[2015-08-11 22:03] tomalec commented on #82
+1 for 2.

[2015-08-12 07:52] warpech commented on #82
I vote for 2 as well. @miyconst can you do it?

[2015-08-12 11:04] #82 closed

[2015-08-12 18:27] miyconst commented on #58
@tomalec, I think this is already fixed, correct?

[2015-08-13 00:21] tomalec commented on #58
I would say so, as now width of juicy-tile-list means something else ;)

[2015-08-13 00:21] #58 closed

[2015-08-14 10:30] warpech opened #83 "Fix or remove highlight tooltip"
There are few problems with the highlighted element tooltip:

1. The values written on red semitransparent background are sometimes ureadable
2. The values are not updated when the element or the window is resized

Because of that, I think that the tooltip needs general improvements or it should be removed. I think it is not very useful, since the same information is repeated in "width" and "heigh

[2015-08-14 11:19] miyconst commented on #83
I almost agree with you. @tomalec asked for this tooltip.

I don't see how it could be effectively improved since it is too big to make it non-transparent, and there is no way to reduce it in size and keep the content.

The tooltip is actually very handy from time to time.

My suggestion is to remove second line from the tool tip, and shorten the first one to contain only size, without the word `S

[2015-08-14 11:37] warpech commented on #83
Sounds fine! Please round the size with 2-digit precision, if possible. Is it possible to refresh the size when the element of window is resized?

[2015-08-14 12:34] miyconst commented on #83
Done. New look:

![image](https://cloud.githubusercontent.com/assets/6435556/9273956/eafd5a5e-4299-11e5-8ff1-48eb58be3cd3.png)

[2015-08-14 13:13] warpech commented on #83
Can you show the decimal value only if it's different than ".00"?

[2015-08-14 14:31] miyconst commented on #83
![image](https://cloud.githubusercontent.com/assets/6435556/9276049/49fe7672-42aa-11e5-8f38-04ae65d891f5.png)

Like this? Why do we even need those decimals of a pixel? Maybe cut them all off?

[2015-08-15 09:58] warpech commented on #83
Maybe cut them off totally, sure!

[2015-08-17 07:40] miyconst commented on #83
Done.

New look:

![image](https://cloud.githubusercontent.com/assets/6435556/9300222/59932618-44cc-11e5-821f-b9496b3e676e.png)

[2015-08-17 07:40] #83 closed

[2015-08-23 15:49] #37 closed

[2015-08-23 16:24] warpech commented on #80
Agreed that this is a nice addition, but low priority

[2015-08-30 15:53] miyconst opened #84 "Migrate to Polymer 1.1"
Umbrella issue: https://github.com/Starcounter/Starcounter/issues/2854

[2015-09-16 11:44] warpech commented on #75
@miyconst is it fixed in `polymer1` branch by any chance?

[2015-09-16 11:49] miyconst commented on #75
Looks like I fixed it in polymer1 branch, but have to double check. Assigning the issue on me.

[2015-09-16 12:16] warpech commented on #61
Let's put a high priority on this after we are done with migrating all our stuff to Polymer 1.1

[2015-09-16 12:23] warpech commented on #69
Definitely not. Thanks!

[2015-09-16 12:23] #69 closed

[2015-09-16 14:03] miyconst commented on #61
Okay, I assign it on me, will ask @tomalec in case of any trouble.

[2015-09-16 14:04] miyconst commented on #69
This errors will be gone once we move to Polymer 1.1, as I reworked `juicy-tiles-setup-sync` to have an option to save to local storage, and not try to push changes to server no matter what.

[2015-09-21 12:34] #84 closed

[2015-10-01 09:04] miyconst commented on #75
Yes, it is fixed.

[2015-10-01 09:04] #75 closed

[2015-10-01 10:04] #61 closed

[2015-10-01 10:05] miyconst commented on #61
Just removed a couple of code lines: https://github.com/Juicy/juicy-tile-editor/commit/4ee97218623a86f26ee59fe8363dd9288ff5c743

[2015-10-01 13:03] miyconst opened #85 "Tight checkbox removes selection of selected group"

[2015-10-01 13:03] miyconst opened #86 "New created groups are not resizing to contents height"

[2015-10-01 13:04] miyconst opened #87 "New created group should be automatically selected"

[2015-10-01 13:04] miyconst opened #88 "Clear styles button should not be enabled if no juicy-tile-list selected"

[2015-10-02 08:23] #88 closed

[2015-10-02 08:34] #87 closed

[2015-10-02 08:48] #86 closed

[2015-10-02 09:02] #85 closed

[2015-10-06 08:45] miyconst opened #89 "Add possibility to set height of element to 100% of screen"
This feature was requested by @mattiasmak just now.

[2015-10-27 23:45] warpech opened #90 "/deep/ is removed from spec"
We should substitute the usage of /deep/ in the code, since it was removed from spec: https://groups.google.com/d/topic/polymer-dev/P4WgenEfiAY/discussion

[2015-12-09 10:50] miyconst opened #91 "Make it work in IE"
As pointed out by @tomalec, IE supports it's own version of `css-grid` layout which is enough for us.

So, `juicy-tile-list` and `juicy-tile-grid` both work in IE, `juicy-tile-editor` should also work.

[2015-12-09 10:54] miyconst commented on #91
I have created `/index-ie.html` page, it contains only one list and editor. Works under IE.

`juicy-tile-tree` does not work yet.

[2015-12-10 11:31] miyconst commented on #91
GitHub seems to automatically close issues when merging branches.

[2015-12-11 15:10] miyconst commented on #91
https://github.com/Juicy/juicy-tile-grid/commit/ac7647dc6a2a8fd1100a0fb3758da0ba0e47a561

[2015-12-14 15:26] miyconst opened #92 "Buttons in virtual groups are not clickable in IE"
@tomalec take a look please.

[2015-12-21 10:06] miyconst commented on #89
@tomalec this is already implemented, right?

[2015-12-21 10:09] miyconst commented on #70
Closing this issue as outdated.

[2015-12-21 10:09] #70 closed

[2015-12-21 10:44] tomalec commented on #89
Right.
https://github.com/Juicy/juicy-tile-grid/issues/27
All you need it to specify `height: "100%"` for a tile, and container needs any non-zero height (first break-point). Naturally, you need to set some height using CSS to `<juicy-tile-list>`/`-grid>`

[2015-12-21 10:44] #89 closed

[2016-01-13 04:51] miyconst opened #93 "UI and Usability suggestions"
I was thinking of how to improve the UI and Usability of the layout-editor over night and come up with the next ideas:

- 1. Disable Height when a `juicy-tile-grid` selected.
- 2. Rename Width to Dots and add a title "Number of horizontal dots per row".
- 3. A dot should equal to a px when editing, even if there are some more space left on the screen.
- 4. Rid off "flexible" checkbox by providing

[2016-01-13 10:52] tomalec commented on #93
I do not like introducing `dots` as it would be another magical juicy specific thing to explain, maybe we should call it `fractions` - as that is what flexible size really is, so at least the devs familiar with latest CSS spec, would get it faster.

ad 2. I'm not sure if it would be clear what does it mean, as it is not the width of your conatainer all the time.

ad. 5. I think quite often you wou

[2016-01-13 11:35] Starcounter-Jack opened #94 "The width/height inbox should reflect the input value (preparsed string) rather than the pixel value"
<img width="347" alt="screenshot of google chrome 13-01-16 12-33-28" src="https://cloud.githubusercontent.com/assets/1219049/12293159/dd2f07a4-b9f1-11e5-8cf1-fc92832895fe.png">

The width is 100% rather than 956 pixels.

[2016-01-13 11:39] Starcounter-Jack opened #95 "The input string should reflect the real value"
We should have the width and height fields contain the CSS value with a clear unit.

100%
50px
200fr

[2016-01-13 11:45] Starcounter-Jack opened #96 "The behaviour width and height field"
Maybe we should have the complete behaviour spelled out as a read only string visible under the width and height input fields in the editor.

```50% of parent width```
```Exactly 100px wide```
```At least 100px wide```
```Dynamically resized when content width changes```

[2016-01-15 14:16] miyconst opened #97 "Umbrella issue for editor simplification"
On today's meeting with @Starcounter-Jack, @tomalec, @warpech, and me were decided:

- [ ] 1. Applications should put tiles into logical groups within an html tag.
- [ ] 2. Applications should provide default setup for individual elements which would look good in the groups.
- [ ] 3. Editor should be able to unwrap such groups.
- [x] 4. [Editor should have two (three in the future) modes: standard

[2016-01-15 16:53] tomalec commented on #97
@Starcounter-Jack, @warpech, @miyconst Correct me if I'm wrong, but
- Regarding 1. I think we agreed that we do not limit ourselves to `<fieldset>` but editor/grid would be able to explode any element,
-  Ad. 5. media-screen selection -> element/partial query range  selections,
-  Ad. 6. I thought it was about just root/top-level elements, not only groups,
- Ad. 8. The patters are listed here http

[2016-01-15 16:55] tomalec commented on #97
I would say, It's good to start with 4,5,7 as it does not require any change in engine, just re-arranging controlls

[2016-01-15 17:40] miyconst commented on #97
@tomalec I have updated the issue text with your notes, but I don't fully understand these:

[2016-01-15 17:41] miyconst opened #98 "Introduce standard and advanced editing mode"
- The standard mode should display only a few controls: [media-screen selection, width buttons, priority buttons, visible eye-button].
- In the advance mode all of the controls are available.

[2016-01-15 17:41] miyconst opened #99 "Side tree in standard mode should display only root elements"
Available after https://github.com/Juicy/juicy-tile-editor/issues/98

[2016-01-18 15:49] miyconst opened #100 "Consider using linqjs"
@tomalec, @warpech, working on the `juicy-tile-simple-editor` I would like to use [linqjs](https://github.com/miyconst/linqjs).

What do you think? Is it a good idea? @tomalec's main concern was that the library modifies `Array.prototype`.

I can replace it with a `linq` function:

#### The array
[code]

#### With `Array.prototype`

[code]

#### Without `Array.prototype`

[code]

---------

I real

[2016-01-18 16:35] warpech commented on #100
This can be achieved with zero dependencies

[code]

If it helps you with prototyping then temporarily use linqjs, but for final version I prefer to stick with plain JS for two reasons:
1. I am unfamiliar with Linq, which is not native concept in JS world. It feels is a bit like [php.js](http://phpjs.org/), which is every PHP developers' favourite JS library before they forget about PHP.
   - func

[2016-01-18 17:37] miyconst commented on #100
@warpech thank you for the input.

All the methods I mentioned above also support pure js functions, you don't necessary need to write linq strings. I like this notation because it is short and elegant, and in [fact](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/Arrow_functions) is a part of the new js standard.

[code]

Is just a shortcut for:

[code]

But I stick with

[2016-01-18 17:37] #100 closed

[2016-01-19 12:10] tomalec commented on #100
Once Safari nad IE will get into pace, you can use native arrow functions instead of stringified ones.
http://caniuse.com/#search=arrow%20functions

But, for the same reasons I'd like to avoid ES6, transpilers, & co. not to end up with Aurelia-like process

[2016-01-19 12:14] miyconst commented on #100
Yeah, I just linked the arrow functions in my previous comment.

[2016-01-19 19:31] tomalec opened #101 "Integrate juicy-tile-grid@1.3.0"
Thanks, to https://github.com/Juicy/juicy-tile-grid/releases/tag/1.3.0
some code for setup manipulation could (and needs) be cleaned up.
We no longer need to bother that much about refreshing `juicy-tile-*` after changing/resetting `.setup`.

compatibility notes are at https://github.com/Juicy/juicy-tile-list/issues/45#issuecomment-172663084

@miyconst, Could you take it?

[2016-01-20 07:29] miyconst commented on #101
Taking this on me.

[2016-01-20 07:55] miyconst commented on #101
@tomalec `juicy-tile-editor` does not use those features. It only sends `true` to `list.refresh` method when needed, and this has not been changed.

On other hand `juicy-tiles-setup-sync` did call `list.setupChanged` explicitly. It is fixed now.

[2016-01-20 11:17] miyconst opened #102 "Nested juicy-tile-list/grid"
Nested juicy-tile-list/grid should act same as a virtual group:

1. When clicking a tile inside nested list the list tile should be selected.
2. Tiles inside nested lists should not be highlighted on hover, instead the entire list tile should be highlighted.
3. Double clicking the list tile should change editing scope to the nested list. Tiles should be editable inside the scope. Double click shou

[2016-01-20 11:20] miyconst opened #103 "Width buttons"
1. Replace width buttons' text with fractions like `1/12`, `2/12`.
2. Total number of buttons should be 12.
3. The buttons should look like a progress bag, which fills the selected value with a color.
4. Write a human readable summary of the selected width below the buttons. Example: "50% width of parent".

[2016-01-20 11:22] miyconst opened #104 "Refresh tree items order when moving tiles up and down"
When moving tiles up and down the side tree items should also be sorted.

[2016-01-20 12:02] miyconst opened #105 "Provide design for advanced and weird modes"
We should decide which controls of current editor goes to "advanced" and "weird" section.

cc @warpech, @tomalec, @Starcounter-Jack

[2016-01-20 12:13] tomalec commented on #104
are you aware that priority does not necessarily match x,y visual order due to bin-packing?

[2016-01-20 12:21] miyconst commented on #104
Yes, I am aware. Most of the times it is same order, and even if some times have different order it is still better to show wrong a couple of tiles, than entire tree.

[2016-01-20 12:47] miyconst opened #106 "Move N tile(s) selected to the side bar"
The title "N tile(s)" selected is nice to have, but it occupies some space in the top panel, would be better to move it on top of the side bar, which has lots of space.

[2016-01-20 12:57] warpech commented on #105
Me and @miyconst made some design on paper.

Additional comments:
- "Reset" should have only one action (explained on picture)
- "Tight" group should be renamed to "Own scope" and be ON by default
- "Oversize" input should be moved to "Fill"

![artboard 1](https://cloud.githubusercontent.com/assets/566463/12449456/ac3feadc-bf7d-11e5-84fa-a8bbbe3b3901.png)

[2016-01-20 15:06] tomalec commented on #105
LGTM

[2016-01-20 15:31] tomalec commented on #104
Cool, I would not say

An this would be nice way to finally show this real priority to the user.

[2016-01-20 15:41] miyconst commented on #104
Yeah, this is what I already did. Not yet pushed though.

[2016-01-21 11:23] #102 closed

[2016-01-21 11:29] #106 closed

[2016-01-21 11:30] #104 closed

[2016-01-25 15:46] #99 closed

[2016-01-25 15:47] miyconst commented on #105
The design is implemented in simple way. The UI has its own issue: https://github.com/Juicy/juicy-tile-editor/issues/98, closing this one.

[2016-01-25 15:47] #105 closed

[2016-01-25 15:48] miyconst commented on #103
This issue waits for https://github.com/Juicy/juicy-tile-editor/issues/98.

[2016-02-02 12:51] #98 closed

[2016-02-02 12:51] #103 closed

[2016-02-02 12:51] #101 closed

[2016-02-02 12:52] miyconst commented on #93
Closing this issue as we came up with better solution: simple/advanced mode.

[2016-02-02 12:52] #93 closed

[2016-02-02 12:55] miyconst commented on #91
juicy-tile-simple-editor works in IE and FF now.

[2016-02-02 12:55] #91 closed

[2016-02-02 12:56] miyconst commented on #32
@tomalec what is the status of this issue?

[2016-02-02 12:56] miyconst commented on #64
Fixed in `juicy-tile-simple-editor`.

[2016-02-02 12:56] #64 closed

[2016-02-02 13:12] miyconst commented on #90
I think we should not discover `juicy-tile-list/grid/table` in Shadow DOM of children elements. It was made to support Tunity's monolithic-entire-page WebComponents.

Personally I dislike to make a WebComponent per page, and when a partial is in Shadow DOM it makes things to complicated.

Also it does not seem to be possible to easily extract all of the `juicy-tile-list/grid/table` with `::shadow`

[2016-02-02 13:12] miyconst commented on #90
@tomalec what is your input on this?

[2016-02-02 13:12] miyconst commented on #80
Was decided to remove this feature in `juicy-tile-simple-editor`.

[2016-02-02 13:12] #80 closed

[2016-02-02 13:15] miyconst commented on #94
This label was intended to show actual tile dimension, but not the tile's setup.

Anyway, it was completely removed in the new version of the editor.

[2016-02-02 13:15] #94 closed

[2016-02-02 13:17] miyconst commented on #78
On one of the meeting with @warpech, @tomalec, @Starcounter-Jack, and me, we discovered such control:

![image](https://cloud.githubusercontent.com/assets/6435556/12750435/9abe9d50-c9b7-11e5-859a-addec9e0c1a5.png)

It is already implemented and waiting for support from `juicy-tile-list/grid/table`.

[2016-02-02 13:17] #78 closed

[2016-02-02 13:18] miyconst opened #108 "Provide human readable width value instead of Width title"

[2016-02-02 13:30] tomalec opened #109 "Do not translate 1/12 to 8.33%"
As then In layout with
`4/12 + 4/12 + 4/12` - which is supposed to produce 3 equal columns that occupy entire space - produce 4 columns.
The last one may get stretched (in upper boundary of element query), to few pixels, and considering gutters, we may loose proportions between tiles.

We can fix that either by using float with better precision, or by expressions that we planned to implement.

[2016-02-02 14:17] #108 closed

[2016-02-02 14:19] miyconst commented on #109
What precision would be enough to avoid this issue? I can easily change the value to whatever is required.

[2016-02-02 14:23] miyconst opened #110 "Add close button"
There should be a close button to close the editor.

Would be nice to get some design from @Starcounter-Jack

[2016-02-02 14:32] miyconst commented on #110
For now it looks like this:

![image](https://cloud.githubusercontent.com/assets/6435556/12752301/32c76cda-c9c2-11e5-9815-39badeab3107.png)

[2016-02-03 06:56] tomalec commented on #32
As for https://github.com/Juicy/juicy-tile-list/issues/45 I have reduced the number of repacks caused by `juicy-tile-*`s themselves. So, I would say we only need to check editor now.

[2016-02-03 07:04] tomalec commented on #90
If I recall correctly, once with @warpech we agreed that `juicy-tile-editor` should query for all `juicy-tile-*` within the document (light DOM), and Shadow DOM that contains `-editor`.

I such case we are consistent and clean, as editor access only the scope it's in, and if somebody is hiding partial/`juicy-tile-*`s within Shadow DOM, then probably he/she is doing so on puprpose.

If somebody wou

[2016-02-04 09:22] miyconst opened #111 "Add support for fractions in width/height input fields"
Values such as `1/3` should be automatically translated into `33.33%`.

[2016-02-04 09:23] miyconst opened #112 "Rename Cancel button to Discard"

[2016-02-04 09:25] miyconst opened #113 "Change 3x3 control"
Remove border around 3x3 control

[2016-02-04 09:48] miyconst opened #114 "Uncheck flexible when fixed size entered"
`100px` should be translated into `100` non-flexible.

[2016-02-04 09:55] miyconst commented on #114
`100fr` should be translated into `100` flexible.

[2016-02-04 11:07] miyconst opened #115 "Cosmetic changes for the editor"
- [x] 1. Make all of the controls to be exactly on same top and bottom line.
- [x] 2. Enable gutter for juicy-tile-list/grid/table.
- [x] 3. Add support to select Cmd + Click and Shift + Ctrl + Click for multiple selection.
- [x] 4. Change human readable title for fixed number value.

[2016-02-04 21:19] tomalec opened #116 "Simplify dimensions controls"
As agreed on today's (2016-02-04) meeting with @Starcounter-Jack, @warpech, @miyconst and me, we would like to simplyfy dimension controls, and reduce the fixed/flexible/%/px/Number confusion.

End results looks in in here:
![20160204_163039](https://cloud.githubusercontent.com/assets/17435/12829622/6e209cdc-cb8b-11e5-86ff-a98a771c4a62.jpg)

The width control(set) will contain:

- input field for

[2016-02-04 21:21] tomalec commented on #114
Later on the meeting we decided to got in the way I described at https://github.com/Juicy/juicy-tile-editor/issues/116

[2016-02-04 21:21] #114 closed

[2016-02-04 21:23] miyconst commented on #116
@tomalec you are a workaholic, just back from lunch and creating issues :).

[2016-02-04 21:24] #113 closed

[2016-02-04 21:48] #112 closed

[2016-02-04 22:15] tomalec opened #117 "Add line break button"
Add a button for
https://github.com/Juicy/juicy-tile-list/issues/47

[2016-02-05 08:49] miyconst opened #118 "Fix priority issue for empty groups"
When a new group created its priority is equal to the selected tile or 1, which makes the tiles with same priority not movable up/down.

[2016-02-05 09:28] tomalec commented on #118
I think as you use `createNewContainer` (https://github.com/Juicy/juicy-tile-list#methods) when creating _rectangle_, you need to specify the priority, and do not just copy its container/selected tile, but for example if you mean adding new group before selected element, you can add `Number.EPSILON` or, if you would like to add it after subtract `EPSILON`

[2016-02-05 09:37] tomalec commented on #118
What's more it may happen in many other ways, that priority is `1` (or `0`) for two different elements (for example, when two apps' setups will be merged) and the only solution I see is to select one of them in the editor and click down (up) button.

[2016-02-05 09:57] tomalec commented on #109
I think JS default precision of `1/12` is enough.

[2016-02-05 11:53] warpech commented on #116
Calculator Phase 1:
calculator icon acts as previous "calculate" button

Calculator Phase 2:
calculator icon opens a dropdown with:
- textarea, where you can write a math expression with `parent` and `content` helper variables
- button that executes the expression and puts the result as width (height) value
- additionally buttons with sample expressions

[2016-02-08 11:44] miyconst opened #119 "Improve breadcrumb"
- Breadcrumb add <- level up buttons.
- Breadcrumb add current level as text.

[2016-02-08 11:46] miyconst opened #120 "Improve auto naming logic"
- Add Partial word to auto names of juicy-tile-list/grid/table.
- Add Group word to auto names of virtual groups.

[2016-02-08 11:47] miyconst opened #121 "Implement 3x3 control"
- `juicy-tile-table` implementation - @tomalec.
- `juicy-tile-editor` implementation - @miyconst.

[2016-02-08 11:47] miyconst commented on #121
@tomalec re-assign the issue on me, once the first part is done please.

[2016-02-08 11:48] miyconst opened #122 "Fit editor in 1200px width"
Add css zoom to fix editor in 1200px width screens.

[2016-02-08 11:49] miyconst opened #123 "Enter group by double clicking tree item"
Double clicking on a group in the sidebar should also enter the group.

[2016-02-09 08:12] miyconst commented on #90
Now `::shadow` is deprecated as well.
https://www.chromestatus.com/features/6750456638341120

[2016-02-09 08:53] miyconst commented on #118
I don't understand how merged setup differ from single app setup in terms of layout editor. For editor it is still one partial. And the automatic priority will be set correctly.

The issue with new groups is fixed now.

[2016-02-09 08:53] #118 closed

[2016-02-09 09:11] #119 closed

[2016-02-09 09:22] #109 closed

[2016-02-09 10:28] tomalec commented on #118
It is, that's why editor will produce values correctly. The problem is with values delivered.

Consider setup for app A:

[code]

and layout for app B:

[code]

If those two get's merged we will end up with two tiles a2 and b3 with same priority.

[2016-02-09 10:35] miyconst commented on #118
Potentially yes, but I still don't think how that could be possible.

We have a partial, which is loaded with

[code]

The partial has name, for example `/Products/ProductPage.html`.

In the database we save setup for the partial, which is

[code]

Now we start Images application, which adds some HTML to the partial. We will see some more non-styled tiles on the screen, but saved setup for the par

[2016-02-09 12:02] tomalec commented on #90
Considering https://github.com/Juicy/juicy-tile-editor/issues/90#issuecomment-179053793 we do not need even `::shadow`,to get elements,to style those we could use [Custom Properties](https://www.w3.org/TR/css-variables/)

[2016-02-09 12:09] tomalec commented on #118
1. We planned long time agou to be able to add sophisticatedfeature to editor, to save layout per:
   - just partial
   - partial according to set of apps running
   - ...

   Then we will build suggested ones based on existing matrix etc.
2. Soon (hopefully this week), we will be able to provide suggested layouts based on hints given by developers. So, app devs will pride such layouts.
3. Even no

[2016-02-09 12:14] miyconst commented on #118
Out of the scope of this issue.

Even though the app A is not running, the saved tiles will still be in the setup. Am I wrong?

[2016-02-09 12:15] tomalec commented on #118
Why 2. is out of scope of this issue?

[2016-02-09 12:17] miyconst commented on #118
This issue covers priority issues which are caused by `juicy-tile-editor` itself, by creating groups with same priority.

About the developer hints, I don't recall we had something for priority. The DOM elements order is the suggested priority by the developer.

[2016-02-09 15:52] tomalec commented on #118
I think technically dev hints may contain any property used by `juicy-tile-*`, and even order in DOM translated to priority may cause us same problems

[2016-02-09 16:00] miyconst commented on #118
Yes, technically there is a chance to end up with such setup. I think it should be resolved on `juicy-tile-list` level, not by the editor. If you think it's right time to address this issue, then create a task in the appropriate repository please.

[2016-02-10 10:09] #115 closed

[2016-02-10 10:13] #123 closed

[2016-02-10 11:40] miyconst commented on #122
@tomalec confirm that the editor fits on your screen and close the issue please.

[2016-02-10 12:03] #120 closed

[2016-02-10 17:02] tomalec commented on #122
Yes, it fits :)

[2016-02-10 17:02] #122 closed

[2016-02-12 10:27] Starcounter-Jack opened #124 "Update UI for editor"
I have updated the UI with

1. New visibility icon
2. New tabs
3. New close button
4. Bigger fill element

![blendingeditor-expert](https://cloud.githubusercontent.com/assets/1219049/13004379/7a6de0b2-d17b-11e5-8aaa-83a1835d2904.png)

![visibility-icons](https://cloud.githubusercontent.com/assets/1219049/13004385/7e6a173a-d17b-11e5-9a13-ca00f6cb45a6.png)

Link to illustrator file

https://www.drop

[2016-02-15 11:53] miyconst commented on #116
https://github.com/Juicy/juicy-tile-editor/commit/8808762331bc0fe86b1f2fa36006dfee718291bf

[2016-02-15 12:17] miyconst opened #125 "Calculator Phase 2"
Original issue: https://github.com/Juicy/juicy-tile-editor/issues/116

Calculator Phase 2:
calculator icon opens a dropdown with:
- textarea, where you can write a math expression with `parent` and `content` helper variables
- button that executes the expression and puts the result as width (height) value
- additionally buttons with sample expressions

[2016-02-15 12:17] miyconst commented on #116
Done.

The new look:

![image](https://cloud.githubusercontent.com/assets/6435556/13048473/563ae420-d3e6-11e5-8b76-0dd57fc46d2b.png)

Closing this issue to avoid repolepsy. The _Calculator Phase 2_ is moved to another issue: https://github.com/Juicy/juicy-tile-editor/issues/125.

[2016-02-15 12:17] #116 closed

[2016-02-16 13:19] miyconst opened #126 "Rename elements"
Add possibility to rename elements

[2016-02-16 13:22] miyconst opened #127 "Issue with big precision of priority value"
@malx122 has issue when saving layout with big precision priority values like `0.900000001`, Starcounter fails to start database.

@malx122 could you please copy here the stack trace?

[2016-02-16 13:23] malx122 commented on #127
"System.FormatException: ScErrJsonValueWrongType (SCERR14004): The value does not correspond to the template property type. Property=""priority (Int64)"", Value=0.7675000000000001
Version: 2.1.1169.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR14004.
   at Starcounter.Advanced.XSON.JsonHelper.ThrowWrongValueTypeException(Exception innerException, String name, String type, String

[2016-02-16 13:24] malx122 commented on #127
System.Exception: ScErrJsonPropertyNotFound (SCERR14003): The property is not defined in the template. Property="widthDynamic"
Version: 2.1.1169.
Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR14003.
   at Starcounter.Advanced.XSON.JsonHelper.ThrowPropertyNotFoundException(String name) in C:\TeamCity\TeamCity9\buildAgent\work\sc-develop-nightly-174\Level1\src\Starcounter.XSON\Seri

[2016-02-16 17:16] dan31 commented on #127
CC @chrhol @miyconst can you pls move the issue to main Starcounter GH.

[2016-02-16 17:43] chrhol commented on #127
I think this might not be a problem with big precision or missing property directly, but a problem with using json dynamically (or actually the parser that creates a template).

Basically if you have an array of items, each item MUST look the same for it to work, otherwise you get these kind of problems. Probably the first item in the array have a value that can be interpreted as an integer and la

[2016-02-17 07:54] miyconst commented on #127
@dan31, @chrhol I have moved the issue about dynamic json arrays to the main repository, but still keep this one as we have to find a fix or workaround to make layout editor work even if the json not fixed.

Why we can't deliver setup as a string, not as a dynamic json? Personally I don't see any reason why would the setup be parsed on server side.

[2016-02-17 08:50] chrhol commented on #127
I think the goal should be that it should work serverside and that we append the layouts as json-partials. That makes the solution more flexible to maintain and enhance.

However as a workaround it should be possible to not deserialize it on the server for the time being I guess. As far as I know it's only done in one place in `LauncherHelper.cs` today.

[2016-02-17 08:51] miyconst commented on #127
@warpech what do you think?

[2016-02-17 11:41] miyconst opened #128 "The gutter should apply to selected scope, not to selected element"

[2016-02-17 11:42] miyconst opened #129 "Replace ... in side bard with a proper button"

[2016-02-17 11:43] miyconst opened #130 "Add eye icon to the side bar items"
The eye icon should be enabled for every item, not only for hidden items.

[2016-02-17 11:44] miyconst opened #131 "Save button in expert mode stays disabled all the time"

[2016-02-17 11:45] miyconst opened #132 "Editor is broken in Launcher in FF and IE"

[2016-02-17 11:46] miyconst commented on #129
Align the button to the right side. The button should be always visible.

[2016-02-17 11:48] miyconst commented on #131
In Launcher.

[2016-02-17 12:02] warpech commented on #127
I will try to switch Launcher to use Typed JSON for layouts and give feedback here.

[2016-02-17 15:18] warpech commented on #127
I found two problems that don't make it easy to switch to Typed JSON:
1. Layout is actually stored as a string in the database, so it would still need to be parsed and converted on-the-fly
2. Layout may contain some arbitrary `juicy-tile-grid` extensions, of which Starcounter.Layout needs to be not aware
3. We actually don't use mutating view-model when layout changes. `juicy-tiles-setup-sync` use

[2016-02-17 16:19] warpech commented on #127
It seems that the problem will be fixed if we send `layout` as string.

It requires @chrhol to change:
- https://github.com/Starcounter/Starcounter/blob/develop/src/Starcounter.XSON/Serializer/Json/StandardJsonSerializer.cs#L297
- maybe also https://github.com/Starcounter/Starcounter/blob/fe4d59ad5024e0b6a52742f25cea3d22db2f658b/src/Starcounter.XSON/Serializer/Json/StandardJsonSerializer.cs#L626
-

[2016-02-17 16:29] miyconst commented on #127
No. I am fine with it.

[2016-02-17 20:15] tomalec commented on #127
Well, we tried to make layout setups work as any other JSON property driven by Puppet. Last year we thought about implementing some layout related logic on server-side (versioning, branches/matrix matching, AI/robot phase etc.) I believe stringifying it would complicate this part as well.

Layouts were stored as string at the very beginning due to bugs, so it will probably work this time, so I'm f

[2016-02-18 15:13] warpech commented on #127
Decided then. Until we have a better support for https://github.com/Starcounter/Starcounter/issues/3074, we must go with JSON layout as a string.

It requires changes by me in Launcher (which I will do tonight) and by @chrhol in Starcounter.

[2016-02-18 17:36] warpech commented on #127
Client side updated. My changes will be available in Launcher 3.1.1, which should be released tonight by @tomalec.

Reassigning to @chrhol for the server side part.

[2016-02-18 21:10] tomalec commented on #127
[Launcher@3.1.1](https://github.com/StarcounterPrefabs/Launcher/releases/tag/3.1.1) released

[2016-02-19 07:19] #131 closed

[2016-02-19 07:40] #128 closed

[2016-02-19 09:11] #130 closed

[2016-02-19 09:21] #129 closed

[2016-02-19 11:08] miyconst commented on #110
The button is added, the UI is tracked in this issue: https://github.com/Juicy/juicy-tile-editor/issues/124.

[2016-02-19 11:08] #110 closed

[2016-02-22 09:11] miyconst commented on #132
Styles in FF in Launcher are fixed now.

![image](https://cloud.githubusercontent.com/assets/6435556/13213834/f37be382-d94b-11e5-9784-706ec182b92f.png)

Does not work in IE though.

The IE issue: https://github.com/Juicy/juicy-tile-editor/issues/133

[2016-02-22 09:11] #132 closed

[2016-02-22 09:13] miyconst opened #133 "Provide IE support"

[2016-02-24 09:59] chrhol commented on #127
Sorry for the delay. I got a nasty cold and was out for a few days.

I've changed the lines in the serializer now (not pushed yet though).

Also I think these lines in the Launcher-project needs to be changed to string as well, the original stacktrace points to this location at least. I will change that as well, but I guess a new release might be needed again.
https://github.com/StarcounterPrefabs

[2016-02-24 10:45] chrhol commented on #127
Pushed changes in serializer now. I couldn't push to Launcher though. It looks like I only have read-access. Can someone else do the needed changes there?

[2016-02-24 10:50] chrhol commented on #127
Or maybe just ignore me :) Tried again and it worked.

[2016-02-24 10:50] warpech commented on #127
Thanks @chrhol! I hope you are fine now.

That's because I have just granted you the rights :)

[2016-02-24 10:52] chrhol commented on #127
Ohh, hehe, I thought I did something strange the first time. Thanks!

[2016-02-25 10:08] warpech commented on #127
Looking good now.

Layouts are loaded and saved as strings without parsing, which means that the problem should be fixed. I will release a new version of Launcher now.

[2016-02-25 10:08] #127 closed

[2016-02-29 10:32] miyconst commented on #124
@Starcounter-Jack here is the example link: http://juicy.github.io/juicy-tile-editor/examples/juicy-tile-table/simple.html

[2016-03-01 10:23] miyconst opened #134 "Lose groups in juicy-tile-table"
Right now editor does not support lose groups in `juicy-tile-table`. Original issue: https://github.com/StarcounterPrefabs/Launcher/issues/204.

@tomalec is it possible to add specific class to each `<tr>` which belongs to a group?

For example:

- **group_1** items [`0`, `1`]
- **group_0** items [`group_1`, `2`, `3`]

[code]

Am I right that a `<tr>` is not split-able between groups? Means a `<td

[2016-03-01 11:04] tomalec commented on #134
Well, personally, I do not think we need to push editor problems into `juicy-tile-*` especially that we would like `juicy-tile-*` to work extremely fast, and we do not mind if `-editor` loads a little bit longer.

Can you just use `.allItems` property to get the rectangle for loose group, then (create an absolute positioned element to) highlight it, and pick all its `.items` to attach mouse over l

[2016-03-01 11:16] miyconst commented on #134
Yes, I can, just thought of some simplification, didn't think of the performance :(.

[2016-03-01 11:49] miyconst commented on #97
Update check list state.

[2016-03-02 17:43] miyconst commented on #134
I have discovered that tiles may drop into gutter of a lose group. That is why I decided to highlight only tiles inside the lose group, not the entire rectangle.

Looks like this:

![image](https://cloud.githubusercontent.com/assets/6435556/13469220/ae8edb78-e0a6-11e5-97ed-6294ebc7b8b9.png)

[2016-03-02 17:48] #134 closed

[2016-03-02 20:35] tomalec commented on #134
Could you post the json to reproduce tiles falling into gutter?

[2016-03-02 20:39] miyconst commented on #134
Just scope in the Suppliers group and change gutter to something more than 11.

[code]

[2016-03-04 12:40] miyconst opened #135 "Features request"
On today's call with @malx122 we discovered that:

- [x] *Add support for multiple juicy-tile-table* - we have to support multiple `juicy-tile-list` on root level.
- [ ] *Somehow deal with the min-width for juicy-tile-table*. Requires investigation. @malx122 has a page with dynamic width. If no styles applied, then `juicy-tile-table` sets `min-width` to current available width.
- [x] *Custom eleme

[2016-03-09 11:08] miyconst opened #136 "Deselecting a lose group tile by Ctrl + Click a tree item does not work"

[2016-03-09 11:09] miyconst opened #137 "Support multiple juicy-tile-table instances on the root level"
Parent issue: https://github.com/Juicy/juicy-tile-editor/issues/135

[2016-03-09 11:12] miyconst opened #138 "Remove old branches"
@tomalec

Can I delete those `juicy-tile-table`, `Launcher/issues/164` branches?

[2016-03-09 11:15] miyconst commented on #137
I have implemented first kind of working version, but the code is a bit messed up, and I really dislike that. That is why it's pushed to `issues/137` branch.

[2016-03-09 17:24] tomalec commented on #138
Closed. However, I've reopened https://github.com/StarcounterPrefabs/Launcher/issues/164

[2016-03-16 10:23] miyconst commented on #137
The `issues/137` branch is now merged to `gh-pages` and the features of multiple `juicy-tile-table` on root level plus multiple `juicy-tile-table` in a single tile is available to test on the example page: http://juicy.github.io/juicy-tile-editor/examples/juicy-tile-table/simple.html

@tomalec, @warpech take a look please. If everything is fine, I will release a version.

[2016-03-16 10:47] miyconst opened #139 "Write list of test for juicy-tile-editor"
We need at least some test for the `juicy-tile-editor`.

### Common cases

- [ ] Select a `juicy-tile-table` on root level.
- [ ] Select a tile in `juicy-tile-table`.
- [ ] Scope in a tight group.
- [ ] Scope in a lose group.
- [ ] Scope in a tile with `juicy-tile-table` elements inside.
- [ ] Select a `juicy-tile-table` inside a tile.
- [ ] Scope in a `juicy-tile-table` inside a tile.
- [ ] Scope

[2016-03-16 11:32] tomalec commented on #139
I would say that if the code for something "simple" have thousands of lines of code it definitely needs tests ;)

First step would be to go through https://www.youtube.com/watch?v=YBNBr9ECXLo
(`npm install -g web-component-tester`, `bower install --save-dev web-component-tester`)
Then you can just copy some code from `juicy-tile-*`
You simply create a html file, with some HTML fixtures (I suggest

[2016-03-17 17:30] miyconst commented on #139
@tomalec I have pushed first set of tests. Could you take a look please? Right now tests pass in Chrome only.

[2016-03-17 17:49] tomalec commented on #139
Cool, thanks. I posted my comments at https://github.com/Juicy/juicy-tile-editor/commit/f6e8e85de0fc2e1ad186a5ac2140f1e363c959dd
In general, I would prefer BDD instead of assert style. Unless you or @warpech have different opinion.

[2016-03-18 10:58] warpech commented on #139
Personally, I also prefer BDD (`expect`) style. But I am not in the camp of forcing everyone in the team to follow the same pattern, because then where's our individuality? :)

[2016-03-18 13:12] miyconst commented on #139
Me too, just I am not yet familiar with it that much, `assert.equal` is the easiest to use :)

[2016-03-18 14:45] miyconst commented on #139
I have made some refactoring, @tomalec take a look please.

[2016-03-18 17:11] tomalec commented on #139
When you are testing that it "changes priority" or "hides a tile" I think we should then `expect` something related to priority/position, or visibility. Right now you are checking if some internal cell has the `id == 1`. I find it pretty confusing, and relying on internals may make tests harder to maintain.

[2016-03-18 17:27] miyconst commented on #139
Do you have any ideas of how to check it better? The physical DOM is not changed, and I have to rely on the Shadow DOM of the `juicy-tile-table`.

[2016-03-18 18:33] tomalec commented on #139
In `juicy-tile-*` I check `offsetWidth` https://github.com/Juicy/juicy-tile-grid/blob/gh-pages/test/fractions/basic.html#L134 of light DOM elements

[2016-03-20 22:51] tomalec opened #140 "Add code comments for simple editor"
@miyconst Could you add some code comments?

It's quite hard for me to dive into the code and add some features for the editor as for example [/src/juicy-tile-simple-editor.js](https://github.com/Juicy/juicy-tile-editor/blob/gh-pages/src/juicy-tile-simple-editor.js) has only 1664 lines of code, ~158 functions, but only  6 short comments

[2016-03-21 07:48] miyconst commented on #140
Sure, assigning this one on me.

[2016-03-21 08:22] miyconst opened #141 "Unbox lose group causes error in juicy-tile-list"
![image](https://cloud.githubusercontent.com/assets/6435556/13913372/46459512-ef46-11e5-8dbb-9611e105e497.png)

[2016-03-21 08:30] #141 closed

[2016-03-21 10:42] tomalec opened #142 "After editor is closed, juicy-tile-* is unusable, highlight still works"
1. Go to http://juicy.github.io/juicy-tile-editor/examples/juicy-tile-table/simple.html
2. Close the editor using `(-)` icon
3. Click on anything inside `juicy-tile-table`

![juicy-tile-simple-editor _ - http___127 0 0 1_predefined_layouts_juicy-til](https://cloud.githubusercontent.com/assets/17435/13916286/fb0d1156-ef59-11e5-92bd-fb518ad19b1f.png)

[2016-03-22 10:27] tomalec commented on #139
Why does all `click`, `dblclick`, helpers are asynchronous?

[2016-03-22 12:57] tomalec opened #143 "Prototype properties are shared among instances"
Object-like properties defined in https://github.com/Juicy/juicy-tile-editor/blob/gh-pages/src/juicy-tile-simple-editor.js#L434 are shared among all instances what may lead to really weird behavior if on of many(two) instances will change default value (then the values will be changed for all other instances)

I think we should create new instances for those object once element is created.

@miyco

[2016-03-22 16:49] tomalec opened #144 "Add UI control for predefined layouts"
First draft and example of predefined layouts is ready.
Example is at https://github.com/Juicy/juicy-tile-editor/blob/RebelsLounge/issues/14-predefined_forms/examples/predefined_forms/simple.html

Editor receives map of layouts in format:
[code]
Then to apply it we need to call: `editor.applyPredefinedSetup( _applyFunction_ );`

@miyconst Could you take it, or should I add something by myself? In

[2016-03-22 19:54] tomalec opened #145 ""Partial:" appears twice in tile name"
In breadcrumbs and in list view you can see "Partial: Partial: Products"

![launcher - http___localhost_8080_products_product_fn](https://cloud.githubusercontent.com/assets/17435/13965806/212c617c-f070-11e5-9cf4-9f43692068cc.png)

[2016-03-23 07:37] miyconst commented on #143
@tomalec are you talking about the `notAvailable` variable?

[2016-03-23 07:38] miyconst commented on #144
I will take a look as soon as finish with tests.

[2016-03-23 09:33] miyconst commented on #139
@tomalec thank you for setting up the `travis-ci`.

Now all the tests pass in Chrome 49, FF 45, and only two fails in IE.

Could you please take a look what that post testing error means:

[code]

![image](https://cloud.githubusercontent.com/assets/6435556/13981114/5dd668c6-f0e2-11e5-85f2-fbfb54c6fd01.png)

[2016-03-23 09:38] tomalec commented on #143
I'm talking about:
- mediaScreenRanges
- widthRanges
- listSelectors
- selectedScopeItems
- breadcrumb

[2016-03-23 10:04] tomalec commented on #143
All we need to do is something like https://github.com/Juicy/juicy-tile-editor/blob/RebelsLounge/issues/14-predefined_forms/src/juicy-tile-simple-editor.js#L477

[code]

I see no reason why we shouldn't allow multiple instances per page.

Then, if I add editor for my own stuff in my shadow dom - for example to select `tomalec-tile-3d-cube` instead - it doesn't mean that Launcher's `juicy-tie-edito

[2016-03-23 10:05] tomalec commented on #139
Sorry I did a typo in credentials, now it connects to SauceLabs.

Now 8 fails in IE 11, and 10 in Safari 7

[2016-03-23 12:19] #138 closed

[2016-03-23 12:25] tomalec commented on #95
Right now we have switch between `%` and `px`. (https://github.com/Juicy/juicy-tile-editor/issues/124)
We decided not to expose fr unit per element, until we expose also a feature to specify a number of all fractions available.  (https://github.com/Starcounter/RebelsLounge/issues/21)

Otherwise `fr` makes no sense, as then all elements will be backed into same line.

[2016-03-23 12:25] #95 closed

[2016-03-23 13:29] miyconst commented on #143
Done. I wrapped all array properties into a function.

[2016-03-23 13:29] #143 closed

[2016-03-23 13:30] miyconst commented on #140
@tomalec I have added description to every method in the file. Hope this helps. Take a look please.

[2016-03-23 14:56] tomalec commented on #140
Why you have used XML instead of regular jsdoc format? In my opinion it's more widely used across JS project, easier to write and read by human, handled nicely by any editor I have used, works nice with JS tools to generate documentation out of it and we used it in all other elements.

Plus it requires **less _ code** ;)

[2016-03-23 15:06] miyconst commented on #140
Probably because of my Microsoft Stack background. Got used to such comments too much :). I will change it to jsdoc format, as it seems be more reasonable.

[2016-03-23 16:29] tomalec commented on #143
Do you think

[code]

plus function definition is easier to understand and write than

[code]

or even, once we will get ES6

[code]

, or do we need those default values somewhere else?

[2016-03-23 17:07] miyconst commented on #143
Replaced with functions.

[2016-03-23 18:00] miyconst commented on #140
I converted the comments to `jsdoc` format with this tool http://patik.github.io/xmltojsdoc/.

[2016-03-23 18:42] miyconst commented on #139
Now all the test pass in Chrome, FF, IE, Edge, and Safari :).

[2016-03-29 07:00] miyconst commented on #140
@tomalec, can you close this issue if you are satisfied with the comments?

[2016-03-29 15:06] tomalec commented on #140
Could you also describe properties, as I'm still not sure for example what `selectedScope` should reflect?

[2016-03-29 16:15] miyconst commented on #140
Done.

[2016-03-30 09:44] tomalec commented on #140
Thanks that helped a lot :)

[2016-03-30 09:44] #140 closed

[2016-03-30 12:08] tomalec opened #147 "Error is thrown and editor gets blocked once opened dev tools"
When I try to open editor with chrome dev tools opened.

![error_on_open](https://cloud.githubusercontent.com/assets/17435/14141642/b563e732-f680-11e5-875e-794b79321f72.gif)

[code]

[2016-03-30 12:10] tomalec commented on #147
@miyconst  Could you take a look?

[2016-03-30 12:31] tomalec opened #148 "When element is removed from partial editor is unable to select anything"
Steps to reproduce:
1. Run Launcher + and app (Products),
2. Open a page with app's partial,
3. Open the editor, reset and save layout,
4. Change the code of an app, and remove one element from HTML partial
5. Refresh the browser,
6. Open the editor.

Nothing is shown in the list view, and I unable to select a thing.

![removed_element](https://cloud.githubusercontent.com/assets/17435/14142086/c80

[2016-03-30 12:55] miyconst commented on #147
Hm, this looks very weird. I will take a look tonight.

[2016-03-31 07:40] miyconst commented on #147
@tomalec I have tried your setup, was not able to reproduce your issue, but caught another one.

I fixed the found issue and updated `juicy-highlight`, `juicy-tile-editor` in Launcher `/sys/` folder. Check again please.

[2016-03-31 08:35] miyconst commented on #148
Fixed.

[2016-03-31 08:35] #148 closed

[2016-04-17 10:10] miyconst commented on #137
Closing this issue as completed.

[2016-04-17 10:10] #137 closed

[2016-04-30 02:00] miyconst commented on #147
@tomalec can you update the current status?

[2016-04-30 02:20] miyconst commented on #145
Fixed. Thank you for reporting.

[2016-04-30 02:20] #145 closed

[2016-04-30 02:21] miyconst commented on #142
@tomalec provide some more details please. I can't reproduce the issue. If it's still the same for you, then I will have to look at your pc.

[2016-04-30 02:29] #136 closed

[2016-04-30 03:03] miyconst commented on #126
It's now possible to edit item name by double clicking it in the sidebar.

[2016-04-30 03:03] #126 closed

[2016-05-03 11:41] tomalec opened #149 "Remove old editor"
I think we came so far with new simple editor, that there is no point in keeping old one.
Especially, that old one does not work http://juicy.github.io/juicy-tile-editor/

It could make the maintenance cheaper, the demo from README could work and present most recent features, etc.

@warpech, @miyconst WDYT?

[2016-05-03 11:49] miyconst commented on #149
I agree. Taking this one on me.

[2016-05-03 12:02] tomalec commented on #142
Seems it was fixed in meantime

[2016-05-03 12:02] #142 closed

[2016-05-04 07:52] miyconst commented on #149
Removed, yet to be released.

[2016-05-04 07:52] #149 closed

[2016-05-08 19:36] tomalec opened #150 "Sometimes editor shows wrong children in list view"
Steps to reproduce:

1. Run Launcher, Products, Barcodes,
2. Open any product page (http://localhost:8080/products/product/XXXX)
3. Open layout editor
4. Select "Next & prev. buttons"

You will get a list of two "Partial: Full name" which are definitely not there.

![wrong children in the list](https://cloud.githubusercontent.com/assets/17435/15099947/d7af148a-1564-11e6-82e1-3ea496647a75.gif)

@mi

[2016-05-08 19:37] miyconst commented on #150
Thank you for reporting the issue. I will take a look tomorrow.

[2016-05-08 22:12] tomalec commented on #150
It seems that `refreshSelectedScopeItems` that calls `getNestedLists`
https://github.com/Juicy/juicy-tile-editor/blob/gh-pages/src/juicy-tile-simple-editor.js#L2051
is the problem as selector at
https://github.com/Juicy/juicy-tile-editor/blob/gh-pages/src/juicy-tile-simple-editor.js#L204
`"[juicytile='Products/2'] juicy-tile-list" is not specific enough, as there are much more`Products/2` around t

[2016-05-09 00:01] tomalec commented on #150
I have fixed and improved it as described above (almost, as I'm not preparing overall inducted, spanning tree in advance)

@miyconst Please check if you do not have any comments.

[2016-05-09 06:42] miyconst commented on #150
@tomalec thank you, I don't have anything to add, the fix seems to be good.

[2016-05-09 10:26] #150 closed

[2016-05-09 11:38] mattiasmak opened #151 "Media Queries?"
The icons with 320, 480, 960 and 1200px. Isn't that supposed to function similar to css media queries? Right now it only sets min-width: and that seems very wrong.

Am I missing something?

[2016-05-09 11:40] mattiasmak opened #152 "Naming elements"
The ability to name the element in code or perhaps in editor should be very helpful. Browsing now is very confusing with many Empty elements... But as with many of my issues. Am I missing something?

[2016-05-09 11:41] mattiasmak opened #153 "Don't try to be smart"
Let the developer opt-in or opt-out elements to be affected/edited på editor.

An attribute like juicyignore could opt-out an element.  These elements should not show up in the list at all.

This is true for us, since we often have web components that do not have a UI at all.

[2016-05-12 10:46] mattiasmak commented on #151
Ok. We have a big problem with the min-width:1200px being set everywhere. How should we handle that?

[2016-05-16 09:27] miyconst commented on #151
@mattiasmak you are right. Those icons suppose to be similar to css media queries, good that it feels that way, but unfortunately it is not supported yet.

cc @tomalec

[2016-05-16 09:39] miyconst commented on #152
@mattiasmak thank you for the question.

This feature was implemented some time ago: https://github.com/Juicy/juicy-tile-editor/issues/126.
Now you can rename elements by double clicking on it.

All you need is the latest `juicy-tile-editor`. I will make sure we have latest in Launcher.

There is also an option to use `juicy-style` attribute. I will come up with an example of how to use it.

[2016-05-16 09:52] miyconst commented on #152
Here is an example of how to use `juicy-style` including `itemName` property.
http://juicy.github.io/juicy-tile-editor/examples/juicy-tile-table/juicy-setup.html

[2016-05-16 09:52] #152 closed

[2016-05-16 10:03] miyconst commented on #153
@mattiasmak thank you for the suggestion.
- You can put the elements into a container. All the elements inside will not be visible as a tile.
- `juicy-tile-editor` distributes Light DOM nodes through Shadow/Shady DOM. In shimmed browsers without native Shadow DOM support the non-distributed nodes are physically removed. So, if we ignore such elements inside `juicy-tile-editor` the will not functio

[2016-05-16 20:43] tomalec commented on #153
I like the idea of opt-out via attribute.

Currently the `juicy-style="hidden: true"` acts as a "ignore attribute", also all native elements that are non-visual, are not being used by our layouts at all.

The full list of ignored elements:
- has `hidden: true` in `juicy-style` attribute: `<my-element juicy-style="hidden:true;">`
- `instanceof Text`
- `instanceof HTMLLinkElement`
- `instanceof HTML

[2016-05-17 07:56] mattiasmak commented on #151
If it's not supported it would be great if you stop setting min-width. Now it defaults to 1200px and messes up our layout everywhere and all the time.

Is that possible?

[2016-05-25 14:18] tomalec commented on #151
@miyconst do you remember why you did https://github.com/StarcounterPrefabs/launcher-include/commit/31ad5f6c7fd94570da1270dc81e49153eb1d6538 ?

[2016-05-25 14:21] miyconst commented on #151
I do, David complained about non responsive layout. Means, once page loaded it can't be resized to a smaller size. That is why I set the default size to be `1200px`, but looks like this is even worse.

[2016-05-25 14:25] tomalec commented on #151
o before you were not able to shrink it below first size (which could be at leas somehow applicable),
and right now we cannot shrink it, or render it below 1200px, what is usually what we do want at all.

[2016-05-25 14:29] warpech commented on #151
I have the same problem in Chatter. Every nested partial wants to be 1200px wide, which doesn't make sense when I put it to a 500px wide group.

@miyconst could you please open a task about fixing this "hardcoded 1200px problem" introduced by https://github.com/StarcounterPrefabs/launcher-include/commit/31ad5f6c7fd94570da1270dc81e49153eb1d6538? I understand that it was solving a real issue, so it

[2016-05-25 14:36] miyconst opened #154 "Default juicy-style for partials"
This issue is continuation for https://github.com/Juicy/juicy-tile-editor/issues/151.

It is very annoying that every partial is stretching itself to the full available width and stays that or bigger size unless manually changed.

When application with `MasterPage` concept which wraps all the pages inside a partial, run inside Launcher it's at least three partials to set media query range on each

[2016-05-25 14:36] miyconst commented on #151
The new issue with some description is available here: https://github.com/Juicy/juicy-tile-editor/issues/154.

[2016-05-25 14:40] tomalec commented on #154
I do not think the problem is default style for partial (as in title) - `starcounter-include` does already have default style for all partials.

From what you wrote here you would like to provide a layout for partial from insertion point. Which in my opinion is simply wrong.

When you are specifying an html insertion point for a (merged) partial, you have no idea what may come there, so how would

[2016-05-25 14:43] miyconst commented on #154
I don't mind to provide this setup in the partial itself:

[code]

[2016-05-25 14:44] tomalec commented on #154
and what should that mean?

[2016-05-25 14:46] miyconst commented on #154
Means that the wrapping `juicy-tile-table` should have `width` of `1200px`, and not the full screen.

Anyway, I will accept any solution which would let me provide default styles per partial, not per tiles in the partial.

[2016-05-25 14:53] tomalec commented on #154
I think the problem is with

What if App A would like to set "the wrapping `juicy-tile-table` should have width of `1200px`"
and App B " the wrapping `juicy-tile-table` should have width of `100px`"?

[2016-05-25 14:56] miyconst commented on #154
That is why I wanted to make this setup in the app which declares an insertion point. The parent app knows the size of the insertion point, and can define such restriction.

By partial I meant a single instance of `juicy-tile-table`. If two apps contributed into a single table, it's still a single `juicy-tile-table`.

[2016-05-25 15:39] tomalec commented on #154
If so why can you simply do

[code]

as you would do for any other:

[code]

?

This is the HTML, we should not re-implement it with out magical hacks.

[2016-05-25 15:45] tomalec commented on #154
By partial I'd rather mean http://starcounter.io/guides/web/partials/#Partial . `<juicy-tile-table>` is just a custom element (which will be probably replaced). The element that renders the _partial HTML_ in specific manner, according to given layout config..

[2016-05-25 15:53] miyconst commented on #154
Okay, I want to provide default setup per `juicy-tile-table`, `juicy-tile-list` or whatever it will be.

[code]

This will not set the `width` property of `juicy-tile-table` inside. I need a `juicy-tile-table` be `1200px` or more in width, but whatever styles I apply on `<starcounter-include>` the default width of the `juicy-tile-table` is all available space and no less.

[2016-05-25 16:32] tomalec commented on #154
So you should not change `<starcounter-include>` behavior, but `<juicy-tile-*>`s, as after implementing
"first break point" we have lost support for shrinking below this value.

Simple we need to finally fix it the right way, and implement multiple ranges, and element queries for `juicy-tile-*`. https://github.com/Juicy/juicy-tile-table/issues/9

As a quick fix we can consider:
- [ ] Remove the th

[2016-05-25 17:46] tomalec commented on #151
The issue on ranges support for `juicy-tile-*` is here https://github.com/Juicy/juicy-tile-table/issues/9

[2016-05-26 07:23] miyconst commented on #154
How would the setup be applied in this case?

[2016-05-27 11:49] tomalec commented on #154
[code]

So once container shrinks, `sc-include` shrinks, and `juicy-tile-*` shrinks as well.

[2016-05-27 16:23] miyconst commented on #154
I understand how the size will behave, what about the styles? If I have a tile with `400px` in width, and the `starcounter-include` resizes to `300px` what then?

[2016-05-27 18:28] tomalec commented on #154
Then it overflows, according to CSS `overflow` property

[2016-05-30 06:37] miyconst commented on #154
And this is what I want to avoid.

**Declaration**

[code]

**Partial**

Assume that the juicy-styles were applies after page load. At the time of styling the `starcounter-include` had width of `800px`.

[code]

**Desired result**

The two tiles should occupy `50%` of the available width, and stay side by side when size of the `starcounter-include` stays in the declared range which is `400px - 800

[2016-05-30 07:51] tomalec commented on #154
Then you should set

[code]

And it will behave as you want.

[2016-05-30 07:58] tomalec commented on #154
More over as this is an enhancement to existing layout management that probably will not be a problem with new one (briefly covered by https://github.com/Starcounter/RebelsLounge/issues/32) I would suggest to introduce it.

Naturally, unless it is a real blocker for any of our crucial projects.

@warpech WDYT?

[2016-05-30 08:00] miyconst commented on #154
It's not always possible to set values in `%` and not always desired, plus another "limitation" we have to teach our customers.

How about such setup then? I know `juicy-tile-table` does not fully support even without resizing, but it's just a temporary limitation.

[code]

Anyway, I am trying to find a solution which would be easy to learn and explain. The solution you propose would give differen

[2016-05-30 08:41] tomalec commented on #154
It's not the limitation is HTML + CSS, I do not think we need to explain it (for expert users. For my mom, we will probably do, but simple editor uses `%` only)

It won't. Why do you think so?

Maybe a HO call would be usefull?

[2016-05-30 14:14] miyconst commented on #154
Different `first-break-point` value of a `juicy-tile-table` will result in different layouts. If I have:

[code]

Then loading the page on `800px` width monitor two tiles `400px` each will be side by side. Reducing screen size to `400px` will add a scroll bar.

Loading the same page on `400px` width monitor two tiles `400px` each will be one after another. Increasing screen size to `800px` will st

[2016-05-30 19:48] tomalec commented on #154
@miyconst, @warpech fency a HO call on that? I feel we are not on the same page.

[2016-05-30 22:45] miyconst commented on #154
Sounds good. Lets plan in tomorrow.

[2016-05-31 07:00] tomalec commented on #154
Today, and tomorrow afternoon I'm off. I'd prefer Thursday or Friday

2016-05-31 0:45 GMT+02:00 Konstantin notifications@github.com:

[2016-05-31 08:58] miyconst commented on #154
Both are good for me.

[2016-06-02 10:13] miyconst commented on #135
Points 1 and 3 fixed. Point 2 is tracked here: https://github.com/Juicy/juicy-tile-editor/issues/154. Closing this issue.

[2016-06-02 10:13] #135 closed

[2016-06-02 10:52] miyconst commented on #97
Closing the issue as too old. The left features are tracked in separated issues.

[2016-06-02 10:52] #97 closed

[2016-06-02 13:06] tomalec commented on #97
Moreover new simplification plan popped out https://github.com/Starcounter/RebelsLounge/issues/32

[2016-11-07 13:08] tomalec commented on #153
I'm closing it as `juicy-tile-*` layouts are not longer supported.

We have moved to vanilla Shadow DOM driven layouts, see https://starcounter.io/layout-compositions-html-partials/

Pleas feel free to re-open or to create a new one, if you want to discuss something related to new layouts and the editor.

[2016-11-07 13:08] #153 closed